[2018-05-31 00:37] huard opened #1 "Upload HydroSheds high-res DEM to GeoServer (1)"
Confirm with Richard which DEM is used for basin delineation.

[2018-05-31 00:44] huard opened #2 "Select land-use raster database (2)"

[2018-05-31 00:44] huard opened #3 "Upload land-use raster database to GeoServer (2)"
Check metadata is clean and CF conformant.

[2018-05-31 00:46] huard opened #4 "Watershed delineation WPS (8)"
This issue will probably need to be split in smaller chunks:

- Select delineation algorithm (Richard could provide more info on this)
- Add algo to PAVICS services (CRIM)
- Host a reference set of polygons to use as benchmark (ETS please provide reference dataset)
- Find a way to test the service automatically (return performance metric, eg [ref](http://www.cs.princeton.edu/courses/archive/spr00/

[2018-05-31 00:49] huard opened #5 "User interface for watershed delineation service (4)"
# User story
User wants to run an hydrological model on a catchment. To do that, she needs information about that catchment. She goes to the PAVICS UI and in Maps Control, selects "Watershed delineation". She then clicks on the map, which calls the `shape-selection` process from `raven`, passing a longitude, latitude tuple. With a double-click, option `collect-upstream` is set to True. The process

[2018-05-31 00:52] huard opened #6 "WPS to extract watershed properties from DEM and land use layer (8)"
We absolutely need:
- [x] Area
- [x] Lat, lon coordinates of watershed centroid
- [x] Mean elevation

Return as LiteralOutput ? A JSON dictionary ?

Implement WPS to analyze the DEM and return multiple properties (area, slope, etc).

Also hard-code land-use file and extract additional information (open other ticket).

[2018-05-31 00:56] huard opened #7 "WPS for generic Raven framework (8)"
Launch Raven using as input the config file describing a user-defined model structure.
Think about how the service will handle data inputs, since they depend on the model structure.

[2018-05-31 00:56] huard opened #8 "WPS interface for the GR4J emulator (2)"

[2018-05-31 00:56] huard opened #9 "WPS interface for the HBV-EC emulator (2)"

[2018-05-31 00:57] huard opened #10 "Emulate HMETS in Raven (16)"

[2018-05-31 00:57] huard opened #11 "Emulate MOHYSE in Raven (4)"

[2018-05-31 00:58] huard opened #12 "Add support for parallel multi-watershed analysis (8)"
How do we use parallelism to do this ?

[2018-05-31 00:58] huard opened #13 "Add support for parallel multi-model analysis (8)"
This would probably be a process calling other processes to benefit from parallelism and scalability. Not clear to me how that would work.

[2018-05-31 00:59] huard opened #14 "Add support for multi-model uncertainty analysis (8)"
Is this a process or a workflow ?

[2018-05-31 00:59] huard opened #15 "WPS service/frontend widget for hydrological series visualization"

[2018-05-31 01:01] huard opened #16 "Wrap existing model calibration algorithms as WPS (8)"
Challenge is to connect calibration algorithms to model description through WPS to avoid the calibration algorithm having to call WPS services to get model outputs (the overhead would kill us).

[2018-05-31 01:02] huard opened #17 "Add support for DDS calibration algorithm (4)"
Add to spotpy or add as an independent service.

[2018-05-31 01:04] huard opened #18 "Add support for simulation in ungauged catchments (8)"
This can be done by running models for nearby calibrated catchments and averaging the outputs.
TODO: Clarify method and split in smaller issues.

[2018-05-31 01:04] huard opened #19 "WPS for goodness of fit metrics"

[2018-05-31 01:04] huard opened #20 "WPS for graphical representation of model fit (2)"

[2018-05-31 01:05] huard opened #21 "WPS for model parameter uncertainty (4)"

[2018-05-31 01:05] huard opened #22 "Workflow example for model calibration and simulation (2)"
For past and future conditions.

[2018-05-31 01:06] huard opened #23 "WPS for hydrological indicators (4)"
EG EFlowStats
https://github.com/USGS-R/EflowStats
R package

[2018-05-31 01:07] huard opened #24 "WPS for frequential analysis (4)"
Estimate distribution parameters
Return value for given return period.

[2018-05-31 01:08] huard opened #25 "JupyterLab instance"
Install and configure JupyterLab to work with PAVICS user accounts and get access to stored data.

- General info: https://blog.jupyter.org/jupyterlab-is-ready-for-users-5a6f039b8906
- Installation instructions: http://jupyterlab.readthedocs.io/en/stable/getting_started/installation.html
- Security: https://jupyter-notebook.readthedocs.io/en/stable/security.html
- Docker container: https://github.

[2018-05-31 01:09] huard opened #26 "Automate creation of thin Python client for WPS server"

[2018-05-31 01:10] huard opened #27 "Virtual environment for hydrological modeling experimentation"
Provide JupyterLab environment (including libraries and data) for hydrological modeling.

[2018-05-31 01:11] huard opened #28 "JupyterLab access to scalable computing ressources"
Allow users to launch parallel computations.

[2018-05-31 01:13] huard opened #29 "Configure shared filesystem with ComputeCanada"

[2018-05-31 01:14] huard opened #30 "Connect ComputeCanada accounts to PAVICS"

[2018-05-31 01:14] huard opened #31 "Allow users to select the hardware a process will run on, including CC HPCs"

[2018-05-31 01:15] huard opened #32 "Configure load balancing and scheduling to account for user-defined external resources"
Not clear what that entails exactly.

[2018-05-31 15:31] huard commented on #25
We'll want to include a list of libraries to be preinstalled. Where does that list go ? Is it something we build into the Dockerfile?

[2018-05-31 17:29] #26 closed

[2018-05-31 17:37] #32 closed

[2018-05-31 17:37] huard commented on #25
Created issue in pavics-sdi instead.

[2018-05-31 17:37] #25 closed

[2018-05-31 17:37] #31 closed

[2018-05-31 17:39] #30 closed

[2018-05-31 17:43] #29 closed

[2018-05-31 17:44] #28 closed

[2018-05-31 17:46] #27 closed

[2018-05-31 21:26] huard opened #33 "Dockerize Raven (2)"
Create Dockerfile describing how to build a docker image for Raven and Ostrich as this will be critical for deployment of this bird.

RAVEN code (Version 2.8.1) is found here: http://raven.uwaterloo.ca/Downloads.html
OSTRICH code can be found here: http://www.eng.buffalo.edu/~lsmatott/Ostrich/OstrichMain.html

There is a subversion repo as well.

[2018-06-11 17:37] huard commented on #17
This is already in the spotpy issues: https://github.com/thouska/spotpy/issues/155

[2018-06-11 18:45] huard commented on #24
# statfit Statistical distribution parameter estimation

## Inputs
 - ComplexInput : resource: netCDF file.
 - LiteralInput: dimension: `axis over which to analyze series` (default: time)
 - LiteralInput: distribution: `name of distribution, select from list`
 - LiteralInput: method: `parameter estimation method`

## Outputs
 - ComplexOutput: params: netCDF file storing the parameters along the pa

[2018-06-12 12:47] tlogan2000 commented on #1
15 and 30 arc second resolultions are ok with everyone I imagine?  3 sec is available but only in a bunch of tiles

[2018-06-12 12:56] huard commented on #1
@richardarsenault ?

Note that the project officially starts in July, I'm just preparing the groundwork.

[2018-06-12 16:00] tomLandry commented on #14
If you have the question "process or workflow", this might point to work conducted at OGC in the testbeds by CRIM and others. This might be an "application package" that is composed of a single-element workflow, or a process. Anyway, point is that is work in progress for the general process-workflow-app continuum.

[2018-06-12 16:05] tomLandry commented on #1
We are currently working on to advance, in general, upload to GeoServer tasks of PAVICS (@Zvax). Note that having said DEM already available would help to start the UI aspects. Do we need/want to visualize these DEMS (flattened WCS)? Is it data meant mainly as input to processes? Is is restricted in any form?

[2018-06-12 16:08] tomLandry commented on #2
Unsure if perfectly related, but a lot of coordination made by Nils on land degradation with the http://trends.earth/docs/en/ project. Forwarding email to you right now.

[2018-06-12 17:05] huard commented on #1
Yes, ideally we would visualize the DEM as the base layer or an overlay.
Also meant as an input to the delineation process and the watershed properties process.
Restricted? If you mean access permissions, no, we'll chose an open dataset.

[2018-06-20 16:08] Zeitsperre commented on #1
@tomLandry in terms of data use restriction, I'm not sure exactly what the restrictions are. There may be some restrictions on how we distribute it to third parties. Not a lawyer but here's the legal notice http://hydrosheds.org/license.

As a heads up in terms of coverage, the data set doesn't rise above 60N for the NA region. I imagine this is fine for most studies but not for Yukon or Northern

[2018-06-20 17:36] Zeitsperre commented on #4
@richardarsenault I've looked into some of this in previous work but not in a strict scripting/programming environment.

From an open source angle, I've relied on SAGA-GIS algorithms through QGIS for sink-filling, flow accumulation, and determining water basin extents. AFAIK, there are python bindings available for the long-term-support build of SAGA-GIS (v2.3.1: https://packages.ubuntu.com/bionic

[2018-06-20 18:02] huard commented on #1
I suggest CRIM first then once things are more stable copy things to Ouranos.

[2018-06-20 18:22] huard commented on #1
Don't forget to log your time under the ETS-PAVICS project.

[2018-06-20 19:04] Zeitsperre commented on #1
The HydroSHEDS 15s and 30s DEMs are now on CRIM infra (production server) under `/data/datasets/hydrosheds` and the HydroBASINS vectors are under `/data/geoserver/data/SHP/Hydrosheds`. The HdroSHEDS DEMs are in ArcInfo Binary Grid (.adr) format, readable with GDAL. The instance needs to be recrawled to integrate the new DEMs.

No error-correction in QGIS was performed on the vectors but (I'm hopin

[2018-06-28 13:35] Zeitsperre commented on #3
Did you have a specific project in mind? NRCan and USGS have country-specific data. Most of the popular projects date back a few years (< 2010) and those with global coverage don't typically have high-resolution (~0.5 Km for [MODIS](https://landcover.usgs.gov/global_climatology.php)).

Also, GeoTIFFs don't have fields for integrated metadata and GeoServer metadata doesn't allow fields for categori

[2018-06-28 13:42] huard commented on #3
@richardarsenault ?

[2018-07-04 13:57] huard commented on #33
@tomLandry is this on your end ?

[2018-07-04 14:00] tomLandry commented on #33
Well you said it was "critical" for deployment. I guess CRIM should take this, yes! Is it urgent, now.

[2018-07-04 14:03] huard commented on #33
Not urgent, and I "think" it's critical, which doesn't mean it is. I just assumed that if we wanted to simplify deployment, this was a must have, but I could be wrong.

[2018-07-04 15:35] huard opened #34 "WPS interface for the HMETS emulator (2)"

[2018-07-04 15:36] huard opened #35 "WPS interface for the MOHYSE emulator (2)"

[2018-07-04 15:52] huard commented on #4
@richardarsenault What's the name of the person who did the watershed delineation work for you and François? Do you want us to reuse the same algorithm ?
@Zeitsperre Found this: https://github.com/mdbartos/pysheds
Looks simple enough.

[2018-07-04 15:53] huard commented on #1
I suggest we mark as verified when we show the delineation process ( #4 ) works.

[2018-07-04 16:06] richardarsenault commented on #4
The Person was Camille Ouellet Dallaire from McGill. We don’t have her algorithms, but it is indeed pretty simple once you have the correct DEM. I think Trevor said it was a 2-line code. The PySheds code could do the job I think and uses the same data so it should be robust.

De : David Huard <notifications@github.com>
Envoyé : July 4, 2018 11:52 AM
À : Ouranosinc/raven <raven@noreply.github.com>

[2018-07-26 12:08] huard commented on #4
pysheds seems to be in active development. I'm having trouble getting it to work with a test dem over central america (the smallest file on the hydrosheds server).

[2018-07-27 15:07] huard commented on #4
So making some progress but hitting all kinds of snags. The pysheds test suite is thin and I feel we'll have to invest some time in the software if we're to use it. I suggest exploring other options to make an informed decision.

[2018-07-27 15:55] huard commented on #4
Check out the branch https://github.com/Ouranosinc/raven/tree/fix_4
It's not really working at this point.

[2018-07-27 17:37] huard commented on #19
See https://github.com/waderoberts123/Hydrostats

[2018-08-13 14:33] richardarsenault commented on #7
UWaterloo (James Craig and Julie) are providing RAVEN version 2.8.1 (last stable version) for use in PAVICS. WPS remains to be created.

[2018-08-13 14:34] richardarsenault commented on #11
Julie will integrate MOHYSE into RAVEN with the help of James Craig.

[2018-08-13 14:34] richardarsenault commented on #10
Julie will integrate HMETS into RAVEN with the help of James Craig.

[2018-08-13 14:36] richardarsenault commented on #16
OSTRICH is being provided by UWaterloo as an alternative to SpotPy for calibration. Integration with RAVEN is complete and requires only wrapping the codes in WPS. Wait for RAVEN/OSTRICH dockerization to write WPS?

[2018-08-13 14:39] tomLandry commented on #16
We are planning work for the project, starting with Dockerization of components. In any case, a technical meeting to get up to speed on these components would help.

[2018-08-13 14:40] richardarsenault commented on #33
RAVEN can ingest and output NetCDF files.

The forcings are either
(A) GRIDDED
NetCDF variables have 3 dimensions: lat, lon, time (in any ordering)
see attachment: York_daily_3d.nc (precipitation, temperature inputs for York catchment on a 4x6 cell grid)

or

(B) TIME SERIES
i.e. a time series at various locations
NetCDF variables have 2 dimensions: nLocations, time (in any ordering)
see attachmen

[2018-08-13 14:43] richardarsenault commented on #33
RAVEN code (Version 2.8.1)  is found here: http://raven.uwaterloo.ca/Downloads.html

OSTRICH code can be found here: http://www.eng.buffalo.edu/~lsmatott/Ostrich/OstrichMain.html

[2018-08-13 14:45] richardarsenault commented on #16
Yes, I am planning a meeting for sometime in September. Julie and Bryan from Waterloo will be coming to Montreal for another project, I thought we could do a 2-for-1. I also posted the source codes for Raven and Ostrich in another ticket.

[2018-08-13 14:46] richardarsenault commented on #17
OSTRICH will be provided and already includes DDS and a whole suite of calibration tools. We will use it instead of SpotPy.

[2018-08-13 14:47] #17 closed

[2018-08-13 18:30] richardarsenault commented on #2
There is a free-to-use Land-Cover raster available from the Land Cover Institute, it covers the entirety of North America at a 30km resolution:

http://www.cec.org/tools-and-resources/map-files/land-cover-2010-landsat-30m

[2018-08-14 17:30] Zeitsperre commented on #3
@richardarsenault
I'm also curious to see if we could clarify this matter. I can manually create NetCDF containers from GeoTIFFs but it is relatively labour-intensive. If this is data must be searchable within the facet list, we need to propose a few conventions/practices. Is there a land use raster project you already have in mind?

[2018-08-14 17:47] huard commented on #1
I don't think we need these on THREDDS at the moment. We could defer that to the maintenance phase next year if there is a demand for it.

[2018-08-14 20:17] Zeitsperre commented on #4
@huard Updates:

I've been playing around with SAGA-GIS (saga_cmd) to see how these processes would look if implemented in Python and the results are... interesting. Here's a comparison of the HYDROBASINS shapefiles (level10; in green) and the output from saga_cmd using the 15sec HydroSHEDS DEM (in pink) using default thresholds. Blacks lines suggest a reasonable overlap in boundaries:

![screensh

[2018-08-14 21:00] Zeitsperre commented on #2
We're already using CEC for a few other layers within PAVICS. This is easily integrable. There are finer resolution products available though. for instance, I mentioned MODIS on another issue.

Which spatial scale/extent are we most interested in?

[2018-08-14 21:12] huard commented on #4
Not sure I understand correctly what you've done. Will give you a call tomorrow.

I suggest we work with SAGA and PySheds in parallel to get some experience with both, then make a decision to invest in one or the other.

[2018-08-14 21:16] Zeitsperre commented on #4
All good. I`ll continue testing this if I have a chance. Coding the algorithm in Python should be feasible to do tomorrow.

[2018-08-15 14:50] richardarsenault commented on #4
Hi Guys, if you haven’t had your call already I’d like to join in, I’d like to learn about all of this.

Thanks!

Richard

De : David Huard <notifications@github.com>
Envoyé : August 14, 2018 5:13 PM
À : Ouranosinc/raven <raven@noreply.github.com>
Cc : Arsenault, Richard <Richard.Arsenault@etsmtl.ca>; Mention <mention@noreply.github.com>
Objet : Re: [Ouranosinc/raven] Watershed delineation WPS (8)

[2018-08-15 14:51] richardarsenault commented on #2
I was going to say, I think 30m is way better than what we need, we can even reduce the resolution some to save some space/computing time.

[2018-08-15 16:08] huard commented on #4
So conclusion is that doing the delineation precisely likely requires user interaction, so we'll defer the exact delineation process to the maintenance phase. As a first step, we'll simply create a process that, given an outlet coordinations, finds from an existing database of watershed boundaries the one containing the outlet coordinates. Geoserver should be able to do this

[code]
and we can pro

[2018-09-12 13:54] huard commented on #10
@julemai Is the effort estimate reasonable (8 days) ? Could you please check Raven related issues to make sure that the values in parentheses roughly reflect the number of days of work needed to get them done. As I'm not familiar with Raven, the values I put are just guesses.

[2018-09-12 14:39] julemai commented on #10
@huard I have a meeting with James Craig about this topic tomorrow. So, I will update you by tomorrow.

[2018-09-12 14:44] julemai commented on #11
James Craig's evaluation of MOHYSE in RAVEN:

#Translation of MOHYSE model into Raven:

[code]

#linear infil: equal to inf HBV with beta=1 or VIC_ARNO with b=1

TODO:

1. Add SOILEVAP_LINEAR  # should have anyhow
2. Add PET_MOHYSE (or find literature source for better name)
3. Support :DirectEvaporation which reduces rain & PET simultaneously prior to ponding as forcing correction [defaults to DI

[2018-09-12 14:44] julemai commented on #11
@huard I have a meeting with James Craig about this topic tomorrow. So, I will update you by tomorrow.

[2018-09-12 18:06] richardarsenault commented on #18
I will have Jean-Luc do this task. We'll need to upload a dataset of parameters for pre-compiled models and predefined catchments. The algorithm itself has been built in Matlab, now we will convert it to Python.

Steps:
1- Push a series of catchments to the server (including contours and observed streamflow)
2- Calibrate the 3 main hydro models on each site using the RAVEN framework once it's func

[2018-09-13 17:49] julemai commented on #11
@huard The meeting with James was very fruitful. We will start with the implementations of this model (rather than HMETS). You estimate is reasonable. Probably a little too high. We will have this running for our meeting in October. :)

[2018-09-13 18:00] julemai commented on #11
@richardarsenault During my meeting with James, we were wondering if you have an idea where the PET formulation in MOHYSE is originating from. This [document](https://docplayer.fr/69668879-Le-modele-hydrologique-mohyse.html) isn't mentioning any reference for this. So, we would call the approach PET_MOHYSE in RAVEN.

@richardarsenault We want to compare our RAVEN implementations against the MATLAB

[2018-09-13 18:03] julemai commented on #10
@huard The meeting with James was very fruitful. The implementations for HMETS are a bit more extensive as there is not a lot we can use out-of-the-box processes from RAVEN. The estimate might be a bit too optimistic. We will have a running version at our meeting in October. It might be not fully done but most parts.

[2018-09-13 18:38] richardarsenault commented on #11
@julemai We can certainly send you parameters and data to test the MOHYSE model on one of our catchments. I'll get that to you shortly.

@julemai The PET (ETP in french) is computed in equations 2-7 and was developed by the MOHYSE creators. It was supposed to be an equation that includes most processes that can be easily understood by students, not necessarily to perform super well.

[2018-09-13 19:04] julemai commented on #11
@richardarsenault Great! I'll build up a framework then to benchmark the two versions- Raven and Matlab- against each other.

@richardarsenault Another document to improve my French. The process is going to be called PET_MOHYSE then. :)

[2018-09-14 18:52] huard commented on #18
Could this be relevant: doi:10.5194/hess-15-3591-2011 ?

[2018-09-14 19:15] richardarsenault commented on #18
It is actually a relevant topic in theory, but is difficult to apply in practice. I did my PhD partly on this, the problem is that the regression relationships between model parameters and exogenous characteristics are very difficult to model and not very robust. So it's not really an applicable method... yet.

[2018-09-14 19:41] huard commented on #18
Ok, I got carried away. We're looking to implement methods people are familiar with, not do research.

[2018-09-14 19:43] richardarsenault commented on #18
Maybe in maintenance phase! It's a good idea though, just not mature enough.

[2018-09-21 23:19] richardarsenault commented on #11
Thanks Julie, Tell me if you need anything else.

[2018-09-21 23:41] julemai commented on #11
MOHYSE is 99.9% emulated in Raven everything. Kudos to James Craig. Raven is running with an NSE of 0.731 for the test setup. The only thing we don't want to emulate is that MOHYSE allows for negative AET/soil moisture. That's the reason for the slight difference. The new version will be pushed to the Raven trunk on Monday.

I would show all the detailed results and how to setup Raven in MOHYSE-mo

[2018-09-21 23:54] richardarsenault commented on #11
Sounds good, that is great news! Say thanks to James for me!

Would it be easy for you to provide a code to run GR4J with CemaNeige ? We could start testing with that test case for now, for example with regionalization and calibration.

Thanks!

[2018-09-22 00:02] julemai commented on #11
Yep. That setup should actually be in the manual of Raven. I have one example for GR4J for the York watershed. I will double-check with James on Monday if this has GR4J and Cemaneige properly setup and then I'll share it with you.

If you prefer one of your basins please send it to me and I use that one.

[2018-09-22 00:19] richardarsenault commented on #11
Hi, no problem for the catchment, it's more about the logic of connecting everything in the pavics framework than actually modelling anything interesting... 
Thanks a lot! 
Richard 

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Julie <notifications@github.com> Date: 2018-09-21  20:02  (GMT-05:00) To: Ouranosinc/raven <raven@noreply.github.com> Cc: richardarsenaul

[2018-09-24 19:56] huard commented on #8
Yes, that or the wiki.

Le lun. 24 sept. 2018 11:25, Julie <notifications@github.com> a écrit :

[2018-09-24 20:06] julemai commented on #8
I'd just add a section under:
https://github.com/Ouranosinc/raven/wiki/Technical-Notes

[2018-09-24 20:28] huard commented on #8
Sounds good.

Le lun. 24 sept. 2018 14:06, Julie <notifications@github.com> a écrit :

[2018-09-24 22:06] julemai commented on #8
Done.

[Link to Wiki](https://github.com/Ouranosinc/raven/wiki/Technical-Notes#raven-example-setup-for-gr4j-with-cema-neige)

[2018-09-24 22:14] julemai commented on #11
MOHYSE documentation is added to the [Wiki](https://github.com/Ouranosinc/raven/wiki/Technical-Notes#raven-example-setup-for-mohyse).

Matlab runs with NSE = 0.732655
Raven runs with NSE = 0.731842

[2018-09-25 00:41] huard commented on #33
Is it possible while doing this to create conda packages for Raven and Ostrich and upload them to the birdhouse channel ? I'm at the point where I need to install Raven to create the WPS service.

[2018-09-25 00:51] tomLandry commented on #33
Understood. Will see what we can do. Hopefully, we'll have the answers for the technical kick off.

[2018-09-25 03:04] julemai commented on #33
@huard and @tomLandry Let me know if I can be of any help with compiling Raven or get it to run.

[2018-10-10 22:09] huard commented on #12
@julemai Could you give us an example of configuration files that would run the same model on multiple watersheds (each with a different parameter set) but with common netCDF input files?

[2018-10-10 22:10] huard commented on #12
Performance wise, is there a large difference between running the model once with n watersheds or running it n times with one watershed each time?

[2018-10-17 01:41] tomLandry commented on #33
@julemai : we would need access to the SVN repos

[2018-10-17 01:48] tomLandry opened #36 "Gather uses of Compute Canada at ETS and U Waterloo"
While we are engaging with Compute Canada, it would be a good idea to get experience from ETS and U Waterloo on how they use or expect to use tools and services on CC.

Prepare short interviews on major uses of the teams, covering major aspects to be delivered in the CANARIE project.

[2018-10-17 01:53] tomLandry commented on #1
How can we help here?

[2018-10-17 02:29] julemai commented on #33
@tomLandry Sure. You can sign up for SVN access through the [CHyMS portal](https://chyms.nrc.gc.ca). You might want to contact <a href="mailto:jrcraig@uwaterloo.ca">James Craig</a> after you've got access such that he has an overview over who's on there.

[2018-10-17 13:13] lalondma commented on #33
@julemai I get a 'sign in' pop-up window when I use your link (no sign-up service). Should I contact James Craig and ask him to create an account for me?

[2018-10-17 13:52] julemai commented on #33
@lalondma James can create an account for you either. The SVN is hosted by the NRC. You would need to contact Alan Barton there (alan.barton@nrc-cnrc.gc.ca).

Sorry for the inconvenience. I didn’t remember how that link looks when you’re not yet registered.

[2018-10-17 14:53] julemai commented on #33
@lalondma Please see [here](https://github.com/Ouranosinc/raven/wiki/Technical-Notes#get-access-to-raven-svn) for all information. I also provide there the documents you have to fill out to get an account.

[2018-10-17 16:29] huard opened #37 "User-friendly WPS using selected watershed (4)"
## Description

Create a WPS with minimal user inputs:
- Name of observation product (Livneh, NRCan, DEH data)
- Click on basin outlet to identify watershed (largest possible)
- If params are given, fine, if not, automatic calibration
- Assume Canopex or USGS for streamflow obs
- Fetch watershed properties from other WPS_watershed_meta
- Set initial conditions (explicitly or defaults)
- Set start

[2018-10-18 23:59] huard commented on #11
I suggest we close this issue when a new release of RAVEN includes the MOHYSE emulator.

[2018-10-19 00:04] richardarsenault commented on #11
In theory, all we need is to get the dev version on the SVN. I doubt that a new release will be made available quickly enough for our needs?

[2018-10-19 00:11] julemai commented on #11
I think if we kindly ask James, he might release soon. But I'm guessing he wants to release MOHYSE and HMETS together and not creating two releases.

So, I think as soon as HMETS implementation (and the PET thingy) gets resolved and confirmed, we will release.

Anyways, I think for the long-term you want to have access to the developers' code. There's this [other ticket](https://github.com/Ouranos

[2018-10-19 00:11] richardarsenault commented on #36
I think the prime use of Compute Canada will be to calibrate hydrological models on a wide array of catchments, in parallel. Our models run relatively fast, but calibrating one model can take say 5-10 minutes. If you have 1000 catchments to calibrate, then it is better to parallelize the process. Simple simulations should not require using CC as they are literally in the 0-2 second range. Maybe we

[2018-10-19 00:13] julemai commented on #11
I can also send you a copy of the current trunk in the meanwhile....

[2018-10-19 00:15] huard commented on #11
One release for MOHYSE and HMETS sounds good ! No need for the trunk just yet for me. Will let you know when I'm at that point.

[2018-10-19 00:46] richardarsenault commented on #11
OK great! Julie, I am looking at the HMETS code now, and it seems James is right, the version you have (and that is available on the file exchange) has the double RET calculation. No idea why it was never spotted... I have analyzed the situation and reported my opinion to François and Jean-Luc, but I suspect they will agree.

I'll get back to you shortly but I feel that this item is 99.9% of the w

[2018-10-19 00:50] richardarsenault commented on #12
The difference is negligible. The total computing power required is the same. However, from an algorithmic point of view, you always want to run the optimization n times with one watershed at a time, and parallelize the watersheds.

[2018-10-19 00:50] richardarsenault commented on #13
For now, multi-model analysis should be performed in series, as it will be in simulation mode only (thus very fast with our models). We can paralellize the entire task to do multi-basins.

[2018-10-19 00:52] richardarsenault commented on #14
Excellent. This should be relatively straightforward and could be considered a substep of the multi-model analysis issue

[2018-10-19 00:52] julemai commented on #11
Awesome!! Let me know and I will finish up documentation and template packaging ASAP. James is doing releases and he hasn’t committed the HMETS yet. But I’m sure he’s only waiting for your „go“.

This is exciting!

[2018-10-19 00:53] richardarsenault commented on #19
This is good. For calibration we can use the ones in OSTRICH, but to evaluate the skill on other metrics we can use spotpy? Or do we not want to go there just yet?

[2018-10-19 00:54] richardarsenault commented on #21
If I understood correctly, OSTRICH provides this functionality? @julemai?

[2018-10-19 00:56] julemai commented on #12
It could be that read-in of data is more efficient when we setup Raven once for multiple watersheds. I’m assuming that this only makes a difference for large watersheds. If you get me an example, I could set it up and we would have some numbers.

[2018-10-19 00:59] richardarsenault commented on #12
I agree for the case of large models, but in our case (for now) we only have lumped models so in theory the differences are pretty insignificant (maybe larger float values...?) :)

[2018-10-19 01:00] richardarsenault commented on #6
I asked Trevor to check this out, to provide a simple solution for now. Maybe we can get Travis to help out for the "connecting this stuff to PAVICS" element?

[2018-10-19 01:01] julemai commented on #21
Yes, OSTRICH has an MCMC implementation in there. I don’t have experience with it in Ostrich. But I have a quote some experience with MCMC codes.

I’m 100% sure that Shawn would implement features we require if not already there.

[2018-10-19 01:13] julemai commented on #12
@richardarsenault Yep, that would be my bet too for lumped models. Let me know if you want to have it confirmed.

[2018-10-19 01:31] julemai commented on #21
Yay!!
Any time!

[2018-10-19 12:55] huard commented on #19
Makes sense. I'll let you define priorities, and don't a strong opinion about this.

[2018-10-19 12:56] huard commented on #12
Correct, thanks !

[2018-10-19 13:52] Zeitsperre commented on #6
Working towards this with #39

[2018-10-19 16:38] tomLandry opened #40 "WPS client generator"
From Statement of Work. Script automatically generates client library from WPS description, Code to automatically generate client libraries (eg python) from WPS description.

[2018-10-19 16:41] tomLandry commented on #40
@huard Would like to start contributions (tests, experiments) from my colleague David on this component. You would be in a good place to briefly describe the entry points to this.

[2018-10-19 18:15] tomLandry commented on #40
Trying to catch the bird while it's flying away :-) https://github.com/bird-house/birdy/pull/55

[2018-10-19 18:20] huard commented on #40
The code is in https://github.com/bird-house/birdy/blob/master/birdy/native.py
The usage docs are here: https://birdy.readthedocs.io/en/latest/usage.html#module-birdy.native
There are a few tests already in tests/test_native.py

What is missing
- tests that exercise various types of inputs and outputs, either through references or actual data;
- tests for authentication
- compliance checks with th

[2018-10-19 18:32] tomLandry commented on #40
Thank you, my good sir. Because that's current work, I suggest we start with "tests for authentication". Stuff will break anyway. For various types of IO, we'll give it a go soon.

[2018-10-19 20:30] huard commented on #40
Ok, fais-moi signe si tu veux qu'on en parle.

[2018-10-23 15:05] tomLandry commented on #7
I'm told that https://github.com/Ouranosinc/raven/issues/33 is almost done. This issue would be one of the logical next steps. Paging @lalondma and @davidcaron

[2018-10-31 19:08] davidcaron commented on #40
@huard
You can take a look at this branch: https://github.com/davidcaron/birdy/tree/refactor

I modified the module quite a bit so here is a summary:
- use boltons.funcutils.FunctionBuilder to create functions dynamically instead of eval/exec statements
- the import_wps function returns a class instead of a module... I felt that simplified the execution of processes. And import_wps  is equivalent

[2018-10-31 20:47] huard commented on #40
Excellent. I created a PR and asked a few questions. The build seems to fail due to flake8.

Does it work with pywps master ? I've tried it and I/m getting a few failures related dataTypes. There have been changes in pywps last summer, They changed their output to templates and now stick more closely to the OGC standard. There is a PR about this https://github.com/geopython/pywps/pull/415

Ideally

[2018-11-01 15:49] huard commented on #34
@julemai

I noticed that with the HMETS config for RAVEN, the model returns these errors/warnings
[code]

This seems to be caused by comments at the end of the line:
[code]
If I remove the comments, the warnings disappear.

Also, I'm getting this error with HMETS:

`Exiting Gracefully: CmvConvolution::GenerateUnitHydrograph: negative or zero duration of unit hydrograph (bad GR4J_x4)`
which is weir

[2018-11-01 16:09] julemai commented on #34
@huard

Do you use the source code I’ve uploaded? The second error message got updated because I found that confusing too. I’ve run all these settings with the uploaded code version and had no issues. I can look into that this afternoon. No problem.

[2018-11-01 18:07] huard commented on #34
@julemai
Works with 153. See PR #43 Thanks !
No need to worry about the comment issue, it's just a detail.

[2018-11-01 18:18] #34 closed

[2018-11-02 11:43] #40 closed

[2018-11-05 17:56] #1 closed

[2018-11-05 18:06] Zeitsperre commented on #3
As we discussed at the kick-off meeting, we are likely best to go forward with the Landsat-based [CEC Land Cover 2010](http://www.cec.org/tools-and-resources/map-files/land-cover-2010-landsat-30m) land use raster. This can be integrated into the CRIM infra as soon as Thursday.

[2018-11-05 18:07] Zeitsperre commented on #2
This is being followed up on in #3

[2018-11-05 18:07] #2 closed

[2018-11-05 18:08] tomLandry commented on #3
Well that's beautiful, because CEC and NRCan!

[2018-11-05 19:40] huard commented on #7
First working version on branch generic_raven. Needs clean-up, but seems to work.

[2018-11-06 01:07] richardarsenault commented on #35
This WPS should take as inputs:
- Rain, snow and average daily temperature climate inputs;
- Latitude of catchment centroid
- Parameter set (10 parameters)
- Catchment area (sq. km)
- Vector of dates (day of year, 1-365) of same length as climate data vectors.

Output: Qsim (m3/s)

The code should simply take the inputs, pass them to the RAVEN implementation of MOHYSE, run the model and return the

[2018-11-06 01:15] richardarsenault commented on #23
Simple toolbox for now, we can add more during maintenance.

Inputs:
-vector of streamflows (m3/s) including timestamps (NetCDF?)

Outputs: series of hydrological indicators, either in txt form or in a type of structure (NetCDF?)

WPS should calculate Min, Max and Average Streamflow for:

1- The entire series;
2- Values per year (nYears)
3- Values per month (12 x nYears);
4- Average and standard d

[2018-11-06 01:38] richardarsenault commented on #20
Inputs:
- Qobs and Qsim vectors, same length, including timestamps.
- Option for desired plot type (integer 1-3 for now)
- Filename for output
- Flag for DisplayStats (on/off) to display KGE/NSE/Bias/RMSE

Output:
Option (1) : Plot of Qsim vs Qobs over the entire time-series
Option (2) : Plot of interannual mean hydrographs of Qobs and Qsim
Option (3) : Same as 2 but with entire variability includ

[2018-11-06 01:41] richardarsenault commented on #19
This WPS should be relatively straightforward: Input Qobs and Qsim, same length, and calculate the objective functions with SpotPy. Return a structure with the objective function values.

[2018-11-06 01:58] richardarsenault commented on #18
@marteljeanluc
@marteljeanluc

This will be accomplished in 3 phases:

(1) Pre-calibrate HMETS, GR4JCN and MOHYSE on CANOPEX database in Canada and USGS database in USA. This will give a set of parameters for use in the regionalization method application.

(2) Implement the Spatial proximity regionalization method (with inverse-weighted donor averaging). Need the climate data for the ungauged catc

[2018-11-06 02:01] richardarsenault commented on #15
David, can we check this out rather quickly with a hydrological series generated by GR4J or HMETS? Maybe the widget is OK for our needs...?

[2018-11-06 02:10] richardarsenault commented on #14
WPS takes a list of hydrological models and a list of climate data series, and generates a series of hydrographs.

Inputs:
List of hydrological models (List of Strings, i.e. {'HMETS','MOHYSE','GR4J'})
List of climate data (List of strings, perhaps OpenDAP NetCDF links that will be used to drive the models)
Parameters for each of the models, txt file format?
Other data required to run the models (l

[2018-11-06 02:11] richardarsenault commented on #13
Perhaps this would be called by Issue #14 to accelerate, but for now this would be limited to large-scale runs, not sure of the benefits with the faster models.

[2018-11-06 02:15] richardarsenault commented on #12
In Matlab I use a parpool and loop over each watershed, not sure how to do this in the PAVICS architecture. Essentially, I think this tool would be used more upstream in the workflow, for example if you want to run a climate model on a bunch of catchments, you have to feed a bunch of lat/long coordinates and/or basin contours and give a climate run, along with parameter sets or Qobs for calibratio

[2018-11-06 05:35] julemai commented on #9
@richardarsenault

HBV-EC is one of the standard emulations in RAVEN. So no problem at all. Do you have a benchmark setup in, e.g., Matlab? I'd only need that to:
* get parameter ranges,
* a default parameter set, and
* parameters you want to calibrate

Then I need a quick chat with James because he has to show me where I find all these in the *.rvp file and that's it.

[2018-11-06 12:35] richardarsenault commented on #9
@julemai
We do not have HBV-EC in Matlab, this is a new model for me. I've used a watered-down version before (Amir AghaKouchak's academic version) but I unfortunately cannot find it anymore (it was experimental). Does RAVEN have "proposed" or "default" boundaries for the models?

[2018-11-06 12:43] huard commented on #15
Steps to get there:
- Complete work on raven deployment (either use docker container or compile the svn source code)
- Deploy raven on test server (e.g. at CRIM)
- Upload test driving files in testdata directory (we could copy raven/tests/testdata)
- As a user, create projet, launch raven-gr4j-cemaneige process
- Visualize output file `Hydrographs.nc`

Our visualize function in the UI was designed

[2018-11-06 14:11] julemai commented on #9
@richardarsenault
Ok. No problem. I only wanted to be sure that you don't have a code I could compare to.
I will find out what the HBV-EC specific model parameters are and will look for ranges. Might take a while. I can work on that a bit next week.

[2018-11-09 15:47] huard opened #44 "Raven progress file"
## Description

An option in Raven (and Ostrich) to create an output file storing the progress % from 0 to 100 and the estimated number of seconds until the process completion. If these could be saved in a json file, e.g. something like:

[code]
It doesn't have to be super accurate, especially for short jobs, just give a rough idea.

On our end, we'd be able to read this file once in a while durin

[2018-11-09 20:50] Zeitsperre commented on #3
I've managed to upload the CEC LandCover 2010 dataset to one of the crim testing servers (starts with a 'c') but the data is in a custom projection so I had to add a new custom CRS definition (100004) to the geoserver's `epsg.properties`. In order for it to load, the geoserver instance needs to be restarted. If someone could restart the geoserver, I can confirm that the land use data is working an

[2018-11-09 20:53] julemai commented on #44
@huard

re RAVEN: I will add an *.rvi file option `:PavicsMode` which will create that file (`Raven_progress.txt`) next to the `Raven_errors.txt`. We can add more PAVICS specific features under the `:PavicsMode` option later if needed.

re OSTRICH: I will reach out to Shawn and ask if he can do that with Ostrich. And offer that I do that in case he does not have time. But I'm not on his SVN etc...

[2018-11-09 21:47] richardarsenault commented on #3
Excellent, thanks Trevor! 
Have a great weekend! 
Richard 

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Trevor James Smith <notifications@github.com> Date: 2018-11-09  15:50  (GMT-05:00) To: Ouranosinc/raven <raven@noreply.github.com> Cc: richardarsenault <richard.arsenault@etsmtl.ca>, Mention <mention@noreply.github.com> Subject: Re: [Ouranosinc/raven] Upload l

[2018-11-12 21:56] Zeitsperre opened #46 "Configuring Raven GDAL and Rasterio"
I hoping to finalize the Raven GIS class methods in the coming weeks but I'm currently blocked on an issue.

In order to more easily perform raster masking using vectors (extracting points within the contour and setting outside pixels to NaN's) most of the literature suggests that [Rasterio](https://rasterio.readthedocs.io/en/latest/index.html) would be a robust library to perform this. Unfortunat

[2018-11-13 00:28] huard commented on #46
If we go full tilt with rasterio, what are we missing ?

[2018-11-14 19:43] lalondma commented on #33
FYI,
Both Raven and Ostrich are now dockerized ("singularized" in fact, since I'm using Singularity instead of Docker), and the images are available on a registry that I set up at CRIM (132.217.141.51).
- Raven: I got a working python script that 1) copies local data to my ComputeCanada home directory, 2) submits a script to slurm that pulls the raven image from the registry and executes it, 3) po

[2018-11-14 19:54] huard commented on #33
Ok. David B. suggested I use the same container set-up to deploy Raven. Is this still a good idea with singularity?

[2018-11-14 20:56] lalondma commented on #33
I'm not completely sure I understand your question, tell me if I missed your point but my goal is to provide an abstraction layer between your code and what I have right now, so that running the Raven app locally (on your server) or on CC infrasructure (using a unique singularity image) would be possible with the same interface. David B. told be your server will be dockerized, so the question is:

[2018-11-15 20:09] lalondma commented on #33
If you look at the README in the branch I made (https://github.com/Ouranosinc/raven/tree/docker_singularity/raven/singularity), you'll see how to execute the raven container I'm maintaining. It's the exact same container I'm using for my tests with my CC account. In theory, this piece of solution would be applicable not only to interactions with HPCs but also to your own server, considering that w

[2018-11-18 22:15] huard opened #48 "Automatic testing for Raven"
## Description

Set-up travis-ci for this repo.

[2018-11-20 19:22] julemai commented on #44
@huard

re RAVEN: The progress file is now written as soon as you specify `:PavicsMode` in the *.rvi file. It will update the `Raven_progress.txt` file at each simulated time step and contains the above mentioned JSON string.

Be aware that the estimates don't include I/O of any kind. it is just simulation time. The I/O highly depends on the model size and the amount of output you want it to write

[2018-11-20 20:06] julemai commented on #44
@huard

re OSTRICH: The progress file `OstProgress0.txt` is always written- no need of a specific setting in the `ostIn.txt` setup file.

I have uploaded the new OSTRICH code v2017-12-19+ (<a href="https://github.com/Ouranosinc/raven/wiki/raven-template-setups/Ostrich_2017-12-19_plus_progressJSON.zip" download="Ostrich_2017-12-19_plus_progressJSON.zip">.zip</a>). It is also added to the documentat

[2018-11-20 20:30] Zeitsperre commented on #48
See #49

[2018-11-20 20:36] Zeitsperre commented on #46
I'll look into it. AFAIK GDAL handles a lot of GeoTIFF data handling/processing and any processes that would be using it would need to use the rasterio version. It's an "all or nothing" sort of situation; if we don't think we want to leverage traditional GDAL, we shouldn't have any problems though.

[2018-11-20 21:15] tomLandry commented on #46
@Zeitsperre please consult with @crimbeaulima too. He use GDAL quite a bit, maybe he can advise.

[2018-11-21 01:44] huard commented on #44
Excellent news! Thanks!

Le mar. 20 nov. 2018 15:06, Julie <notifications@github.com> a écrit :

[2018-11-22 18:32] julemai commented on #35
Please be aware that RAVEN runs with leap years. So, day of the year should be 1-366.

But Raven doesn't really need that information. It will extract all information on dates from either the NetCDF inputs or from the RVT file.

[2018-11-22 18:33] #10 closed

[2018-11-22 18:33] #11 closed

[2018-11-22 18:35] #44 closed

[2018-11-23 20:05] richardarsenault commented on #3
@Zeitsperre Hi, any news on this front?

[2018-11-23 20:06] richardarsenault commented on #4
@huard @Zeitsperre

Is this item still in the works? Is it possible to do the simple version like David said here?

[2018-11-23 20:18] julemai commented on #7
Revised `generic_raven`. Is properly working now. All test cases result in the same NSE as documented in the Wiki (when modelling period is starting at 1954-01-01 and has duration of 20819 days). This should be checked automatically though.

[2018-11-23 21:46] julemai commented on #9
@richardarsenault @huard

I'm done with the HBV-EC setup. since I didn't have a reference HBV implementation you want to use, I went through all the hard-coded values in the `*.rv*` setup files with James. We identified 21 parameters where most of them are used in some versions of HBV.

The Wiki is updated. Here are:
- The <a href="https://github.com/Ouranosinc/raven/wiki/raven-template-setups/rav

[2018-11-23 21:52] huard commented on #9
@julemai Excellent ! Sorry for my slow response these days, I've been handed a short term assignment that takes all my time. Should be back in the game next week.

[2018-11-23 21:58] julemai commented on #9
No problem. Now that I have figured out how this whole WPS thing is working. I would feel comfortable to add that for MOHYSE and HBV (if you would create a branch for me). I could do that after the generic_raven branch is merged back. :)

Have a great weekend!

[2018-11-23 22:42] huard commented on #9
Yep, will start by merging your changes into master. You don't need me to create a branch though. Once I've merged the generic_raven branch, you can update your master and then create an hbv branch (`checkout -b hbv`), commit your changes then push the hbv branch to github (`push --set-upstream origin hbv`) and create a PR.

[2018-11-23 22:47] julemai commented on #9
Ok. I will give it a try. I’ve met done that before.

[2018-11-26 15:37] Zeitsperre commented on #3
@richardarsenault I'm still waiting to hear back from CRIM. I just asked on slack if someone could perform the last step to verify that it works. I'll let you know by tomorrow.

[2018-11-26 19:36] Zeitsperre commented on #7
@julemai For `OS_NAME` you should have a definition on your machine: `Darwin`. Is that not the case?

[2018-11-26 19:40] julemai commented on #7
@Zeitsperre Nope, `OS_NAME` is not a function available on MacOS. That's why I used `uname`. I think that's available on all UNIX systems.

[2018-11-26 19:44] julemai commented on #7
I was suggesting the following lines for the Makefile in the [`generic_raven`](https://github.com/Ouranosinc/raven/blob/generic_raven/Makefile) branch:

[code]

[2018-11-26 19:47] huard commented on #7
Hi @julemai
This is what's in the generic_raven branch: https://github.com/Ouranosinc/raven/blob/38aea1121f16b5664297422fa4ded0f4e27e0624/Makefile#L16

[2018-11-26 20:40] julemai commented on #7
Hi David @huard,

what is the best way to obtain the "working directory" of the WPS process? I mean the tmp directory where all the model output etc is written?

I would like to implement proper tests of the Raven model output at the end of the Raven tests, e.g., at the end of `test_wps_raven_gr4j_cemaneige.py`. I would like to read in the diagnostics file and check if the NSE produced is the one

[2018-11-26 21:03] Zeitsperre commented on #7
On second inspection, I'm not sure where OS_NAME is being declared. The method that makes the most sense is to use `ifeq "$(UNAME_S)" "Linux"`. Could this be the source of some issues?

[2018-11-26 21:17] huard commented on #7
Even though the tests still fail on Travis-CI, I've now merged the generic_raven branch with master. So if you pull from master, you should see the changes you made to Makefile. I'll work with Trevor to get the tests working properly on Travis-CI.

@julemai The WPS workdir is `self.workdir` inside the WPS process handler. That being said, the XML response from the WPS process should include the li

[2018-11-28 20:41] #48 closed

[2018-11-28 21:07] Zeitsperre commented on #3
It's been updated and it seems to be working. The data simply needs to be synced between servers at CRIM and we should be able to cross this off.

[2018-11-29 00:51] julemai commented on #7
@Zeitsperre  and @huard
I just updated the master and was running `make test`. There are 7 tests failing. Six of  them due to `Permission denied problems`. `test_wps_caps` is failing due to another reason. Are they also failing on your systems?

[2018-11-29 01:10] huard commented on #7
@julemai I can reproduce the same issues on my end. Unclear to me yet where this is coming from.

[2018-11-29 13:21] huard commented on #7
I can't reproduce that failure on my end, but let's not worry too much about non-raven models (this one is the pure python gr4j).

[2018-11-29 13:21] #7 closed

[2018-11-29 13:27] huard opened #53 "Déploiement sur serveur test"
## Description

Deploy raven on Ouranos test server

Ideally before December 14th.

[2018-11-29 18:38] Zeitsperre opened #57 "Add builds based off of publicly available RAVEN source code and executables"
It would be great to test via Travis CI the builds and source code available at http://raven.uwaterloo.ca/Downloads.html. This would automatically inform us if any versions online are broken. Not a major priority but this could be easily done in strict Travis or with Travis-Tox.

[2018-11-29 18:44] julemai commented on #57
Please don’t use the source code that is distributed there. The version there doesn’t support NetCDF and some of the models yet. I have redirected the code to the URL that is given in the Makefile.

[2018-11-29 18:46] huard commented on #53
https://github.com/Ouranosinc/raven/releases/tag/0.2

[2018-11-29 18:47] huard commented on #57
@Zeitsperre See https://github.com/Ouranosinc/raven/issues/33#issuecomment-424192524

[2018-12-04 19:46] moulab88 commented on #53
Now up on Medus:
http://medus.ouranos.ca:9099/wps?request=GetCapabilities&service=WPS

Need a small fix on the last line of the Dockerfile file to start the service:
CMD ["source activate wps && exec raven start -b 0.0.0.0 -c /opt/wps/etc/demo.cfg"]

[2018-12-04 20:10] lalondma commented on #33
@julemai I'm looking at the zipped package containing Ostrich and I see a bunch of executables for Demos 1 to 9: Bluebird, bigfoot, split and so on. I'm thinking that it's actually raven that will be used by Ostrich for the current project, have I got that right?

[2018-12-04 22:01] julemai commented on #33
@lalondma It seems you have downloaded the Ostrich Tutorial examples. Please don't use that. I made the OSTRICH source code available in the Wiki (<a href="https://github.com/Ouranosinc/raven/wiki/raven-template-setups/Ostrich_2017-12-19_plus_progressJSON.zip" download="Ostrich_2017-12-19_plus_progressJSON.zip">.zip</a>).

I also made it available on as a download. This is how we handle RAVEN in t

[2018-12-05 00:51] lalondma commented on #33
Actually I didn't know about the wiki, and that's where I found what I needed, thanks!

[2018-12-10 21:00] Zeitsperre opened #62 "Support for MATLAB geometries?"
## Description
I hadn't considered this before but will the shape formats that RAVEN needs to support include geometry files encoded in the `.mat` format? I'm not at all familiar with MATLAB data files and I can't seem to find any documented support for handling `.mat` inputs. Is this a requisite feature?

[2018-12-10 21:51] huard commented on #62
No.

[2018-12-10 21:51] #62 closed

[2018-12-11 15:38] Zeitsperre opened #63 "Should self.name refer to self._name?"
https://github.com/Ouranosinc/raven/blob/f04c32fb0ef2044c4c2d3f019a1e000a6294f7a8/raven/models/basic.py#L109

@julemai Reading over and linting the model code a bit. Wondering if this variable should actually be the intitialized `self._name`.

[2018-12-11 16:18] julemai commented on #63
@Zeitsperre I haven't coded that but from looking at it, I think it's correctly used as is.

I think that you want to use the property setter `self.name` function to set the property `self._name`. The setter function is double-checking if the property was already set and will stop if it was already set and not matching the new value. While if `self._name` would be used directly this check wouldn't

[2018-12-11 18:13] Zeitsperre commented on #4
Leaving a note here pointing to the directions for compiling SAGA-GIS and building on Linux with python bindings. Will explore using SAGA in the new year, I imagine. https://sourceforge.net/p/saga-gis/wiki/Compiling%20SAGA%20on%20Linux/

[2018-12-14 14:38] julemai commented on #9
Done.

[2018-12-17 18:32] huard opened #64 "CF-Compliance of hydrographs.nc output"
## Description

The netCDF output created by Raven has a dimension called `nbasins` but no matching coordinates.
From the netCDF docs:

A coordinate variable is a one-dimensional variable with the same name as a dimension, which names the coordinate values of the dimension. It must not have any missing data (for example, no _FillValue or missing_value attributes) and must be strictly monotonic (va

[2018-12-17 19:47] #57 closed

[2018-12-17 19:50] #8 closed

[2018-12-17 19:50] #35 closed

[2018-12-17 19:50] #9 closed

[2018-12-17 20:35] julemai commented on #64
@huard All incorporated now. Is backward compatible. Was only some missing attributes. CF compliance checker now gives:

[code]

New Raven version (rev 161) can be downloaded from my [webpage URL](http://www.civil.uwaterloo.ca/jmai/raven/raven-rev161.zip)

And is uploaded to <a href="https://github.com/Ouranosinc/raven/wiki/raven-template-setups/Raven_rev157.zip" download="Raven_rev161.zip"> Wiki<

[2018-12-17 21:05] huard commented on #64
Wow, that was fast ! Thanks, I've updated the makefile in the PR we're working on for objective functions.

[2018-12-17 21:05] #64 closed

[2019-01-07 21:27] #53 closed, assigned to moulab88

[2019-01-07 21:35] huard opened #72 "Pass model arguments directly in Raven.run"
## Description

At the moment we need to specify which RV file each parameter belongs to. Since parameter names are unique, this is not necessary.

[2019-01-08 16:01] julemai commented on #16
@huard @richardarsenault

I was hoping to get onto the emulation of OSTRICH during the coming weeks. A first step would be to make the OSTRICH executable available. Shall I do that (following what we do with RAVEN) or would somebody else like to do that? The source code is <a href="https://github.com/Ouranosinc/raven/wiki/raven-template-setups/Ostrich_2017-12-19_plus_progressJSON.zip" download="Os

[2019-01-08 16:15] huard commented on #16
Please go ahead. I'm fine with you hosting the most recent version of the code. Hopefully at some point a more official URL will be provided, but for the moment it's fine by me.

[2019-01-09 15:04] richardarsenault opened #74 "Make start fails on new install"
## Description
After make install (successful), make start gives the following error:

Starting application ...
Traceback (most recent call last):
  File "/home/ets/anaconda3/envs/raven/bin/raven", line 11, in <module>
    load_entry_point('raven', 'console_scripts', 'raven')()
  File "/home/ets/anaconda3/envs/raven/lib/python3.6/site-packages/pkg_resources/__init__.py", line 487, in load_entry_po

[2019-01-10 00:48] richardarsenault commented on #74
Anaconda3 -> miniconda + fresh install fixed this error

[2019-01-10 00:48] #74 closed

[2019-01-15 19:51] huard opened #77 "Optimize travis build"
## Description

I think the Travis build would go faster with only one call to conda update. We could add a full_install to the Makefile and use that in the travis config. In this repo, another build of Python is downloaded due to the tests and docs dependencies.

[2019-01-15 19:53] huard commented on #77
@cehbrecht What do you think ?
@Zeitsperre Let's sit on this for a while. Priority is the geographic stuff.

[2019-01-16 14:55] #72 closed

[2019-01-28 13:21] huard opened #79 "Create gauged catchments data set (8)"
## Description

Input data to #18

[2019-01-29 01:51] julemai commented on #16
Well, a `make clean` would resolve that. But I don't want to install the whole Python environment new....

And I just saw that the `make clean` isn't deleting the executables and the downloaded source codes of RAVEN (and OSTRICH). I thought you implemented that @huard ? Did that get lost somewhere?

[2019-01-29 01:53] julemai commented on #16
Changing to the following in the `Makefile` seems to do the job but I'm not sure if that makes sense;

[code]

[2019-01-29 09:01] julemai commented on #16
@huard: Could you please tell me where in the code, for example, `{run_name}` in the *.rvi gets replaced. I can't figure out where that is happening... Thanks!

[2019-01-29 13:00] huard commented on #16
It's in `make clean_dev` I think.

[2019-01-29 13:00] huard commented on #16
Looks good.

[2019-01-29 13:04] huard commented on #16
Look in `models/basic.py` for the `_dump_rv` method of the `Raven` class.

The values of the parameters are stored in the configuration dictionary for each rv, then aggregated into the `params` dictionary, then used to format the rv templates.

[2019-01-29 15:00] julemai commented on #16
there is only:
* `envclean` (removes condo env)
* `srcclean` (removes *.pyc files)
* `distclean` (removes all files not under git)

I don't think that any of the above cleans the `src` and/or the `bin` folder.

[2019-01-29 15:19] huard commented on #16
Sorry, it's `raven_clean` but it's not shown in the make help. We'll have to add that.

[2019-01-29 15:42] julemai commented on #16
Found it! Thanks.

But my `self.name` seems to be empty. I have no idea how this us set. I can't figure out where `templates` are coming from in `__init__` and then used for `configure`. Part of the problem is that the *.rv* files are required to be in a subfolder for OSTRICH.

I committed the current version of the code. I know it's a mess but I need to debug somehow. hence a lot of print stateme

[2019-01-29 15:57] julemai commented on #16
Thanks. Just committed the current version.

The problem is in `basic_ostrich.py` line 189.

[2019-01-29 16:20] huard commented on #16
Just pushed a small change for configure to read the additional files from ostrich.
Now you'll need to create tags such as `{par_x1_min}` in the  `ostIn.txt` file, to be able to fill them from the python interface, but that's going to be a mess, since we'll have to create different labels for the low and high values. Let me think about this.

[2019-01-29 16:29] julemai commented on #16
Your commit is now causing the following error:

[code]

[2019-01-29 19:57] tlogan2000 opened #80 "Hydro_basins : finding upstream basins"
## Description
Discussing with @huard and @Zeitsperre there was some difficulty using 'hydro_basins' layers to find upstream basins.  The 'Pfafstetter' code could maybe help us but I can't seem to figure it out.
However, using geopandas and numpy I have created what I think is a relatively efficient method to find upstream basins using the 'NEXT_DOWN' field in the attribute tables and iteratively

[2019-01-29 20:07] Zeitsperre commented on #80
@tlogan2000 This is great! Using GeoPandas is a much better approach than constantly reiterating through the file, even if we were to limit the selection. The work here is essential for determining the shape/region that will be used in performing zonal statistics (average slope, land cover types) with DEMs delimited by the HydroBASINS project.

Aside, I want to mention that I looked into the `UP_A

[2019-01-29 20:09] tomLandry commented on #80
I'm not 100% what I'm looking at, but it does look great. I want to know more!

[2019-01-29 20:39] Zeitsperre commented on #80
@tomLandry The major challenge behind the DEM approach is that it first and foremost demands a really precise and hydrologically conditioned DEM. After that, it needs to be calculated with tools that are either a) dependent on C libraries with no python wrappers, b) have heavy/complicated overhead and configuration steps, or c) are coming from rapidly-developing/immature PyPI projects.

[2019-01-29 22:15] richardarsenault commented on #80
I've got to say that this does indeed look promising! Seeing as the HydroBasins dataset is pretty big, how much time did it take to generate those contours iteratively? are we talking seconds or minutes...?

Great work!

[2019-01-30 16:25] richardarsenault commented on #80
OK thanks, that seems like a reasonable approach. In the end, can we submit both the list of all sub-basins and also one merged shapefile? Reasoning being that in some future instances we might want to use distributed hydrological modelling, in which case the subdivided watersheds would be direct inputs, whereas for our lumped modelling as of now, a single polygon would be preferrable.

Also, good

[2019-01-30 16:48] tlogan2000 commented on #80
See edited code example with added bit for a single polygon via dissolve boundaries...

[2019-01-31 18:58] huard commented on #16
Ok so now it works... Look in tests/test_emulators.py for examples of direct calls to the models.
I've also added a print out of error messages when the model fails to help with debugging. It also outputs the work directory.

Now my question is: "How is this going to be used, and how to make that usage easy?" Ie once we've run Ostrich, I guess we want to run Raven with the same parameters but on a

[2019-01-31 20:09] richardarsenault commented on #16
Awesome news!
I'll look into it in greater detail sometime next week, I think Julie will work a bit on it until then. My only concern is about the raven model as we discussed. Ideally we want it to be the same for the Ostrich calibration and the rest of the platform (i.e. not 2 different versions to update and maintain). Is this an issue with your fix?

Also, I think a call to Ostrich calibration

[2019-01-31 20:41] huard commented on #16
Yep, Julie, it's not clear to me how I should get the parameters back. Do we need to parse them from the rvp of the best run ?

[2019-01-31 20:46] julemai commented on #16
The raven executable is all the same. There are no two versions of Raven.

I think we should definitely return parameters and Qsim of the best model run.

[2019-01-31 20:51] julemai commented on #16
Nope. Ostrich itself is producing the most important output file at the end called `OstModel0.txt` which contains the `obj. function value` (col 2) and the optimal parameter set (col 3 to end). The last line always contains the overall best, final parameter set.

[2019-01-31 20:55] julemai commented on #16
I am hoping to get onto this tomorrow and create the tests to check that the same results as on the Wiki get produced. Is there anything I need to have a closer look at @huard. Means some places in the code where you were not sure where to put placeholders etc?

[2019-01-31 21:15] huard commented on #16
Yep, adding placeholders in OstIn sounds good.
Also what should we test for to make sure the setup is OK and the calibration is done correctly ? For now I'm just checking that it runs.
I can take a quick jab at getting the outputs back.

[2019-01-31 21:18] julemai commented on #16
Yep, I would double-check that the final NSE is matching the one in the Wiki (similar as I did for the RAVEN model runs). We can also double-check that the final parameter sets are matching. It should give always the same results because the `RandomSeed` is fixed right now in the `ostIn.txt`.

[2019-01-31 21:50] huard commented on #16
Ok. I'll try to implement the parameter parsing tomorrow

[2019-01-31 21:56] julemai commented on #16
Sounds good. I’ll start after you are done

[2019-02-01 13:32] huard commented on #16
Done.

[2019-02-01 14:03] julemai commented on #16
When I run `make test`, I get the following failed 8 tests... I that the same for you?

[code]

[2019-02-01 14:31] huard commented on #16
Hum, no. There are errors with MOHYSE and HBVEC about bad NSE (that's ok), and the test_wps_ostrich... but other tests should pass.

[2019-02-01 14:41] huard commented on #16
I'll bet that you have files in the raven/models/ directory that should not be there and interfere with the configuration.

[2019-02-01 14:50] huard commented on #16
Or in the testdata directory for ostrich. Remove the .sh files and other directories if any.

[2019-02-01 14:57] huard commented on #16
Pushed some changes to help debugging those things. HTH

[2019-02-01 15:18] julemai commented on #16
Ok. That helped. After removing some unnecessary files I now just get 5 tests failed:
[code]

[2019-02-01 15:38] julemai commented on #16
Resolved:
[code]
by adjusting function `_store_ext(self)` in class `RVFile` of `rv.py` to ignore hidden files/folders:
[code]

[2019-02-01 15:41] julemai commented on #16
You were 30s faster. Haha!! Like yours better. And it works. Thanks!

[2019-02-01 15:42] julemai commented on #16
Test `TestOstrich.test_gr4j_with_no_tags` is suffering from the `.DS_Store` issue as well....

[2019-02-01 15:44] huard commented on #16
Hum, I suggest you modify the glob pattern to avoid that. I won't be able to help for the rest of the day...

[2019-02-01 15:44] julemai commented on #16
Will do. THANKS!!

[2019-02-01 16:05] julemai commented on #16
I have no idea where these files get listed, i.e. I can't identify the `glob` that needs to get adjusted

[2019-02-01 21:32] julemai commented on #16
Alright. The two tests `test_base.py::TestOstrich::test_gr4j_with_no_tags` and `test_emulators.py::TestGR4JCN_OST::test_simple` are now working.

They have both proper checks implemented that make sure that the calibration is producing the results of our references in the Wiki.

The last test `test_wps_ostrich_gr4j_cemaneige.py::TestOstrichGR4JCemaNeigeProcess::test_simple` fails but the error mes

[2019-02-01 21:54] huard commented on #16
Let's defer the WPS stuff for the end.

[2019-02-01 22:05] julemai commented on #16
I will then add the other 3 models?!

[2019-02-03 22:49] julemai commented on #16
@huard  I've done as much as I could. There are 5 tests failing right now:
[code]

I hope you can find what is going wrong. I have added all examples and files for now. But I couldn't properly test them (checks against predefined values) because the WPS is not running. I will do that as soon as that works.

[2019-02-04 21:03] huard commented on #16
@julemai Fixed a couple of those, but not all. Rest of my week is going to be pretty busy, response time is going to be longer.

[2019-02-05 01:13] julemai commented on #16
I think I got all emulator tests now fully functional. WPS tests are still failing but the GR4J example is somehow working better than the other 4. Trying to get that done tomorrow or the day after.

[2019-02-05 03:46] julemai commented on #16
Got them all running; also WPS tests. Only one failing is `TestOstrichMOHYSEProcess.test_simple` in `test_wps_ostrich_mohyse.py`. This is due to the split of parameters and hrs-parameters in MOHYSE. I can't figure out how to resolve this. The rest works.

[code]

[2019-02-05 12:02] huard commented on #16
Done, the params contained the hrus as well. I just removed the last two items from the lower and upper parameters passed to the test.
@richardarsenault Maybe it'd be better in terms of clarity to just scrap the hru parameters and put all the parameters in params.

[2019-02-05 13:33] richardarsenault commented on #16
I agree, I had a fun time with that also in the regionalization toolbox. I think we could handle that internally no? I.e. have the parameter set be automatically translated to the different .rvX files within the model itself?

However maybe for now we can concentrate on other things and keep that for the next phase? Thoughts?

[2019-02-05 13:47] huard commented on #16
To be clear, it works as it is now (the parameters are already automatically translated to the different rv files). My question is really from a user perspective, is it more natural to have both params and hrus, or just one set of parameters ?

[2019-02-05 14:05] huard commented on #16
Ah ! Let's put them back together then.

[2019-02-05 14:09] julemai commented on #16
Just a thought... These are parameters per HRU. Means right now (with lumped models) we have 1 HRU and 2 parameters. With more HRUs the parameter-set will grow... I always thought that this was the reason to split them. The `params` are constant (means always 8) while `hrus` are always 2x number HRUs... Not sure.

[2019-02-05 14:13] richardarsenault commented on #16
Ah I see... therefore if we get to using distributed models, this will have an impact. Sometimes in distributed models we like to force parameters for similar HRUs for example. Maybe it is better that they stay separate. For these lumped models it complexifies a bit, but for later generalization it could be better this way.

Does that make sense @julemai ?

[2019-02-05 14:21] julemai commented on #16
I thought this was the initial reason for splitting them. But I think we didn't follow this logic all the way through for all the 4 examples.

@huard Do you see any issues with parameter sets being of variable length for one model depending how it is discretized?

[2019-02-05 14:45] huard commented on #16
@julemai Yes, that could get hairy pretty fast.

I suggest we defer a decision on this once we have had a discussion on multi-basin modeling.

[2019-02-05 14:47] julemai commented on #16
Sounds good.

[2019-02-05 15:18] tlogan2000 commented on #80
Original version did not include the initial selected polygon -  updated version below does
[code]

[2019-02-05 15:40] julemai commented on #16
Glad that all this works now. Shall I open a pull request?

[2019-02-14 13:57] huard commented on #5
@richardarsenault Pourrais-tu réviser stp ?

[2019-02-14 14:57] richardarsenault commented on #5
Ça me semble bon! Pour l'extraction des autres propriétés basées sur les contours, ça va être un autre User story, exact?

[2019-02-14 15:00] huard commented on #5
Je suggère que tout se passe en même temps dans un seul clic, donc ça serait inclus ici. Objections ?

[2019-02-14 15:02] richardarsenault commented on #5
Aucune objection, bien au contraire. Par contre, on devrait avoir une option en quelque part pour permettre à un utilisateur qui a déjà son shapefile d'extraire les infos du bassin. Est-ce qu'on prend la même interface?

[2019-02-14 15:21] huard commented on #5
Je pense qu'on va se garder ça pour la maintenance. Ça va impliquer
- [ ] Implement shapefile upload in workspace
- [ ] User selects shapefile in layer switcher : contour is displayed on interface
- [ ] User hovers on shape: triggers processes computing properties for arbitrary polygon.

Le point 3 exige qu'on puisse calculer les propriétés des bassins on-the-fly, ce que je ne pense pas qu'on soit

[2019-02-14 15:26] richardarsenault commented on #5
Hmmm peut-être que j'ai mal exprimé mon idée. Disons que quelqu'un a déjà un shapefile d'un bassin et veut rouler Raven (ou faire de la régionalisation par exemple). Raven a besoin du lat/long du bassin. Si on roule en régionalisation, ça prend aussi Land Cover, etc. Un moment donné il va falloir appeler les fonctions d'extraction (slope, elevation, land Cover, etc.).

Donc je conclus qu'on ne per

[2019-02-14 15:31] huard commented on #5
Pour la première année, on va précalculer les propriétés sur des bassins prédéfinis (hydrosheds). L'utilisateur va sélectionner un de ces bassins et on va retourner les propriétés qu'on aura préalablement calculés.
L'année 2, on va permettre de passer un shapefile arbitraire.

[2019-02-14 15:33] richardarsenault commented on #5
OK je n'ai pas de problème avec ça, sauf qu'il va falloir trouver une façon de calculer les propriétés pour les 5700 bassins dans la BD pour la régionalisation...

[2019-02-14 16:11] huard commented on #5
Oui, on ne s'en sauvera pas.

[2019-02-19 17:03] #16 closed

[2019-02-27 12:43] richardarsenault commented on #77
@huard Not sure this is related, but I'm trying to start a new build from scratch and getting the following errors:

$ make clean
Removing *.pyc files ...
rm: missing operand
Try 'rm --help' for more information.
Makefile:155: recipe for target 'srcclean' failed
make: [srcclean] Error 123 (ignored)
Makefile:59: *** "Conda is not available. Please install miniconda: https://conda.io/miniconda.html"

[2019-02-27 17:45] Zeitsperre commented on #77
I'll see if I can look at this at the end of the day. I know there were some changes to the Makefile that complicated the conda buildout. Is this on the Master branch?

[2019-02-27 18:20] richardarsenault commented on #77
@Zeitsperre

yes, Master branch.

However I think it would be better if we could complete the GIS stuff before fixing this. I can wait for now but the GIS codes are the bottleneck for a few items.

Thanks!

[2019-02-28 20:39] huard commented on #33
@lalondma Finally got around to look at what you've done. Sorry again about the long delay.

I've installed singularity and I'm trying to run the image but I get connection refused error. Do I need some kind of ssh keys to access shub ?

[2019-02-28 20:50] huard commented on #33
@lalondma My mistake, I switched environment and didn't realize I hadn't re-set the env variable.

[2019-02-28 21:21] huard commented on #33
It works ! Are you OK if I merge master in your docker-singularity branch ? I've tried locally and there was no conflict.

I suggest the container building commands go into the Makefile. Does it make sense to you ?
Should the makefile also have a pull_img command to store the image in the bin/ directory ?

[2019-03-01 02:04] lalondma commented on #33
Go ahead with the merge: my stuff's inside specific folders, so there shouldn't be any interference with the rest of the project.
Hmm, what is it that's working ? :-) Running a singularity image ?
As for container building, I guess it would make sense, although pushing a new image to the singularity registry would require credentials (could be a specific target, not the default target).

[2019-03-01 13:40] huard commented on #33
I'm now able to set-up model configuration files and run either on the local bash version or the local singularity image.
[code]
Ok, so we'll keep it simple for now and simply let the makefile grab the image and download it locally.

[2019-03-05 19:54] #33 closed

[2019-03-05 19:57] huard opened #83 "Move singularity-related bash operations to makefile"
## Description

Singularity related operations are now in bash scripts in the singularity folder. Ideally we'd put some of these functionalities in the makefile.

[2019-03-11 17:56] huard commented on #14
figure showing enveloppe

[2019-03-12 17:35] #13 closed

[2019-03-12 19:52] Zeitsperre commented on #80
This function has been cleaned up and is now integrated in #67. I briefly spoke about this approach with @dbyrns and @davidcaron and it might be useful to investigate using `defaultdicts` to perform upstream basin identifications.

It would also be good to create a series of lookup tables (levels 7-12, with and without lakes) with the `HYBAS_ID` and `NEXT_DOWN` fields to save on processing time. T

[2019-03-12 20:16] Zeitsperre commented on #77
@richardarsenault Made a few edits to the `master` branch. Feel free to delete the environment you were working in and try the make processes again. It should work better now.

[2019-03-12 20:18] Zeitsperre commented on #6
All of these processes have been addressed in #67. Please feel free to close this once that PR is merged.

[2019-03-12 20:58] #6 closed

[2019-03-12 20:59] #4 closed

[2019-03-12 21:09] Zeitsperre commented on #46
Update: Rasterio and GDAL can be used synonymously so long as GDAL is installed via conda alongside Rasteri and so long as specific types of objects opened with one are not passed to the other (e.g. GDAL `band` objects). The only instances of Rasterio and GDAL needing to be employed at the same time is in the `wps_generic_terrain_analysis.py` process and even then the GDAL subprocess call bindings

[2019-03-12 21:09] #46 closed

[2019-03-12 21:13] Zeitsperre commented on #80
Closing this issue and starting a new one since this process is now deployed on master. Thanks for the save @tlogan2000 !

[2019-03-12 21:13] #80 closed

[2019-03-12 21:25] huard opened #86 "Optimize the watershed selection process"
## Description

The process to find the watershed and its upstream contributors is too slow. We need to optimize it.

One option is to let GeoServer do part of the work if possible.

[2019-03-12 21:30] Zeitsperre opened #87 "Optimize HydroBASINS Watershed Shape Selection"
## Description

This function has been cleaned up and is now integrated in #67. I briefly spoke about this approach with @dbyrns and @davidcaron and it might be useful to investigate using defaultdicts to perform upstream basin identifications.

It would also be good to create a series of lookup tables (levels 7-12, with and without lakes) with the HYBAS_ID and NEXT_DOWN fields to save on processi

[2019-03-12 21:32] Zeitsperre commented on #86
@huard Already looking into this. See #87.

[2019-03-12 21:33] Zeitsperre commented on #87
@huard has also suggested leveraging GeoServer to perform the lookup. This is also worth looking into.

[2019-03-13 01:27] richardarsenault commented on #77
Thanks, will test first thing tomorrow. Great news for the GIS PR by the way, thanks!

[2019-03-13 12:52] #86 closed

[2019-03-13 14:17] huard commented on #12
Le's recap. We want to be able to run one model over a number of different basins in a way that's simple to the user. Raven (C++) does not support this, so we need to loop within the python interface, as we do for multiple parameters. Here however, it's not only the parameters that change. All of these inputs must be provided, one for each basin:
- model parameters
- basin information (name, area,

[2019-03-13 14:43] richardarsenault commented on #12
1- Yes, we need to loop within the python interface.
2- Correct, the model parameters, basin info and meteo inputs are required for each catchment. Eventually we might want to calibrate multiple basins in parallel, in which case the model parameters would not be required.
3- I think your suggestion is a great idea. Ideally the variables would be in the NetCDF file, stored as vectors of size [regio

[2019-03-13 15:26] huard commented on #12
Ok. @richardarsenault I suggest you open an issue for "Input dataset preparation", that would help with the task of going from gridded climate variables to basin-specific time series in a raven-compatible format.

[2019-03-13 15:31] huard opened #88 "Switch evap from PET_DATA to PET_OUDIN"
## Description

Hard-code Oudin evapotranspiration formula, so that users don't have to send the input time series of PET.

[2019-03-13 15:39] julemai commented on #12
RAVEN can technically be setup to run multiple basins in parallel. You can provide different sets of parameters for the different basins if the parameters are basin-specific and not process-specific. the process description would need to be the same for all simulated basins.

Hence, I think, the handling of running only individual basins with RAVEN and implementing the loop over the basins in Pyth

[2019-03-13 15:41] huard opened #89 "Support multiple params from WPS call"
## Description

At the moment parallel parameters can only be called from the Model class, not the WPS interface.

[2019-03-13 16:05] richardarsenault opened #90 "Input dataset preparation"
We need to find a way to prepare the input data from gridded climate model data (or reanalysis, other source) to the raven format.

1- Connect to processes from PAVICS-1 that can collect meteo data from a shapefile;
2- Download and process the data according to required dates and other parameters;
3- Write the NetCDF with the appropriate conventions including all variables required by RAVEN.

[2019-03-13 16:16] julemai commented on #90
Some thoughts on that...

2- You don't need to cut out time periods from the data for RAVEN. It will read in only the data it requires. Let's say you can provide 1990-2019 data but only do a simulation for 2015.
3- RAVEN does not actually require a specific NetCDF format. I try to do all the implementations in RAVEN such that no pre-processing of the data is required. For example:

- data are give

[2019-03-13 16:21] richardarsenault commented on #90
I see, and I agree that Raven can do those things, but we need to start with "fixed" rv? files and so I don't think we will be able to change them on the fly depending on the type of input dataset. I'd prefer if we have a given format for our datasets and conform to those. For the dates, yes that is true we can play with those in Raven, but lets say someone wants to do a climate change study on 20

[2019-03-13 16:24] huard commented on #90
The issue with gridded data and weights is that for parallel basin processing, we need to provide the weights for each region. That seemed a little bit more complicated than passing just the column index (region_id).
But that's exactly the discussion we need to have now.

[2019-03-13 16:32] richardarsenault commented on #90
Yes indeed. I think that since our models are lumped, the meteo data will be vector format (single column of weight=1). We can calculate this outside of Raven. Then we can build a region_id x nTimesteps matrix as the NetCDF inputs, without having recourse to the weights.

If we get to distributed modelling, then I guess the only remaining option will be to have a 3D variable: region_id X nTimestep

[2019-03-13 16:48] julemai commented on #90
The weight file would be provided for each basin. Just similar to the preprocessing you would need to do.

The weights basically convert whichever discretisation of the inputs to whichever discretisation of the model (HRUs, lumped, grid). It is exactly the operation you have to do when you convert the gridded data into a timeseries.

For cutting out periods of time from a full dataset: for my purp

[2019-03-13 17:17] huard commented on #90
Agree with Julie that temporal subsetting should be delegated to Raven. That's how it works at the moment.

For the gridded weights, the interface could accept for region_id a list of (flat_index, weight) that we could write in the rvt file. That might be less complicated than I thought.

[2019-03-13 17:48] julemai commented on #90
I am not sure how the interface looks like that's why I can't really say anything on that. The grid weights file looks like this:

[code]

For the lumped models, you would have only one HRU ID. Let's say 6 grid cells of the forcings are contributing to the lumped basin, you will need to specify the grid cell number (1,15,16,17,19,21 in the example) and how much each grid cell contributes to the ba

[2019-03-13 17:51] richardarsenault commented on #90
@huard OK your knowledge of Raven is better than mine so if you say it's feasible, let's do that. I just think we should try and keep things reasonably simple. If it's not too complicated and more future-proof, let's go with that.

[2019-03-13 18:06] huard commented on #90
Ideally we'd support netcdf files of both types (region, time) and (lat, lon, time). Will start working on it.
@julemai Would you have test inputs files and expected results that I could test with ?

[2019-03-13 18:15] julemai commented on #90
Do the examples necessarily need to be for the Salmon River and for one of our four supported models? I have the test bench for the implementations I do in Raven but it is for another catchment and model (not GR4J, MOHYSE etc). Could work on getting you all for Salmon River but would take me a bit.

[2019-03-13 18:19] huard commented on #90
Salmon: no.
One of the supported models: ideally.
Is it a global model ? If yes, I can probably add it rapidly to our supported models.

[2019-03-13 18:24] huard commented on #88
Note that this modifies the outputs, so the tests results will have to be updated.

[2019-03-13 18:24] julemai commented on #90
Hm. Nope, it's a distributed version of GR4J for 20+ subcatchments of the York River. Not worth the effort I guess.

Could you get me a NetCDF (lat,lon,time) for the Salmon River? Optimally with the contribution of each grid cell to the domain of the watershed?! Otherwise I would make those values up.

[2019-03-13 18:29] huard commented on #90
Wait, I'll start with simply taking the existing Salmon file and making copies with two dimensions (region, time), and three dimensions (lat, lon, time), with zeros everywhere expect for lat_0 and lon_0. If that works, I'm confident more realistic files will work too.

[2019-03-15 01:05] richardarsenault commented on #89
One test fails due to the parameters not returning hydrographs in the correct order (see HBV-EC test in fix-89). I tested 3 parameter sets, with parameter sets 1 and 3 being equal. Hydrographs 2 and 3 are equal (1 and 3 are different) meaning that the parameter sets did not conserve their order.

[2019-03-15 11:22] richardarsenault commented on #77
OK everything is working on a fresh build now, tests are all passing. Thanks!

[2019-03-15 11:30] richardarsenault commented on #88
@huard We'll handle this on our end.

[2019-03-15 14:39] #77 closed

[2019-03-15 16:02] #89 closed

[2019-03-15 22:12] richardarsenault commented on #88
#92 fixes this issue

[2019-03-16 18:04] richardarsenault opened #93 "Calling Raven WPS through Birdy crashes if identifiers have dashes"
@huard We will eventually need to remove all dashes and replace with underscores in the identifiers. Only alphanumeric and underscores are allowed as per namedtuple documentation. I started a branch so we can test the calls to the local WPSClient, branch "birdy_raven_calls"

[2019-03-27 17:28] huard opened #97 "Shape properties don't match"
## Description

Why is the area computed by generic-shape-property so different from the Superficie attribute ?

For example, compare the test_wps_generic_shape_properties the calculated area with the superficie attribute.

[2019-03-27 18:02] huard opened #98 "Set generic_zonal_stat default raster to the raster stored on GeoServer"
## Description

Users are not expected to have a DEM raster on their machine. They should be able to use the default one provided on our GeoServer.

In other words, set the default `raster_url` to the correct GeoServer link on pavics.

[2019-03-27 18:21] Zeitsperre commented on #97
The superficie attribute is an artifact. My suggestion is to ignore it. If we want, I can scrub that data from the shapefile. I should mention though that there will always be variation in some values for similar projections.

For instance, Quebec Lambert (epsg 32198 or 6622) underestimates perimeter by around 10Km and area by around 400 sq Km versus WGS84/eliipsis calculation. I can try finding a

[2019-03-27 18:25] Zeitsperre commented on #98
Just for clarification, the coverage of this raster should comprise all of Quebec? Canada? North America? I'll continue with the EarthEnv DEM90 data set, I just need to know many tiles to collect and merge together before uploading.

[2019-03-27 18:26] huard commented on #97
Got it. I think what matters is that our public examples and tests are reasonably clean. I this case I think our test suite could just use a synthetic shape rather than one stored on disk.

[2019-03-27 18:29] huard commented on #98
Let's start with North America.

[2019-03-27 18:54] Zeitsperre commented on #97
I could just define a `Shape` with a series of coordinates in the test itself or make something on [GeoJSON.io](http://geojson.io/#map=2/20.0/0.0).

[2019-03-27 18:57] huard commented on #97
A basic series of coordinates would work well.

[2019-03-27 19:20] Zeitsperre commented on #97
Sounds good. I just need to know how to pass an in-memory JSON via WPS when it asks for an URI.

[2019-03-27 19:46] huard commented on #97
It's done with a POST request. Look at pywps/tests/test_complexdata_io.py for an example.

You need to create an owslib.wps.ComplexDataInput object, where data would be the string representation.
[code]

[2019-03-27 19:49] Zeitsperre commented on #97
I found a workaround using a staticmethod:

[code]

Which method should I apply? I imagine I could also test for both.

[2019-03-27 19:57] huard commented on #97
I think it would be good to have an example that passes raw data. I suggest `geojson.Polygon(coords)` to keep it short.

[2019-03-27 21:46] huard commented on #93
In principle birdy has a sanitize process that replaces dashes with underscores. Could you point me to an example where it doesn't work.

[2019-03-28 00:39] #88 closed

[2019-03-28 01:00] richardarsenault commented on #93
It seems the sanitize process sanitizes the processOutputs and processInputs, but not the identifier. I've sent you an e-mail with a test-case and analysis. Maybe the problem is on my side if it works for you.

[2019-03-28 11:38] huard commented on #93
Install birdy from git master, that should solve it.

[2019-03-28 21:09] Zeitsperre commented on #97
@huard I opened a branch for this yesterday called `fix_97` but i don't have time to work on this until next week. All it really needs are valid polygon geocoordinates.

[2019-04-03 12:36] #14 closed

[2019-04-03 13:11] huard commented on #12
Hi @julemai,

I've created a 2D file for testing this and I'm having a weird core dump with Raven. The unit_t variable (time units) is causing an error on Line 1324 of TimeSeries.cpp. There is no colon in the time units, it's just `days since 1954-01-01`. When I print `unit_t_str`, I get `days since 1954-01-01U`, and I guess that U is causing problems. Ideas ?

[2019-04-03 13:13] huard commented on #12
Is it possible that you add this U to identify unicode strings ? Since I've created this file using Python3, it's possible it converted the original ascii string to unicode.

[2019-04-03 13:22] huard commented on #12
You can test it using branch fix-12 and running the test_parallel_basins in test_emulators.py

[2019-04-03 13:59] julemai commented on #12
@huard I tried to run `make test` in this branch. This creates the following error for each test:

[code]

I tried to run another `make install`. But that one gives me the error:
[code]

Any idea?

[2019-04-03 14:04] julemai commented on #12
I assumed in Raven that the time unit string is following the pattern:

[code]

You could try to add `HH:MM:SS` in your unit and it should work. I will work on fixing this in RAVEN assuming that if time is not given it is midnight.

[2019-04-03 15:12] julemai commented on #12
New Raven version (rev183) is available [here](http://www.civil.uwaterloo.ca/jmai/raven/raven-rev183.zip). It will throw an error if the time string is not `YYYY-MM-DD HH:MM:SS`.

[2019-04-03 17:48] huard commented on #12
Thanks, you're right. I had not noticed that when I created the new file, the 00:00:00 disappeared.

[2019-04-04 14:44] richardarsenault opened #106 "PHASE II: Implement a flexible Raven instead of pre-defined Raven model setups"
## Description

### To do in maintenance phase as added feature

At the moment, we are using RAVEN to generate 4 hydrological models, thus neglecting the main feature of Raven, i.e. the capacity to mix-and-match submodules to create new hydrological models.

We should provide a way for users to select modules to combine and make a fully-flexible Raven model instead of those four fixed models.

[2019-04-04 14:51] richardarsenault opened #107 "PHASE II: Recode and compile the 4 hydrological models currently fixed in the Raven model setups"
## Description

### To do in maintenance phase for efficiency

The RAVEN model setups are currently fixed for 4 models (GR4JCN, HMETS, MOHYSE, HBV-EC). Unfortunately, calibration is taking much more time than we can allow due to repeated I/O calls. We should provide compiled versions of these models that are callable directly from Python in order to speedup the calibration times.

This involves:

[2019-04-04 14:55] julemai commented on #107
Before we recode all the models, we could just try to speed up Raven. :)

It is because the reading of NetCDF time series is not really fast. I am also not sure if you have switched Raven to the calibration mode (means that no output except hydrographs and Diagnostics is written).

[2019-04-04 14:56] richardarsenault opened #108 "PHASE II: Use GIS tools to build distributed model catchment definitions and inputs"
## Description

### To do in maintenane phase as added feature

Raven can run distributed hydrological models. One of the difficulties in automating the building of a distributed hydrologic model is to define the land classes, elevations, flow directions, etc. at the distributed scale.

The GIS tools based on HydroBasins can return a series of 2-3 sq.km, level 12 subcatchments for any given waters

[2019-04-04 14:58] richardarsenault commented on #107
Yeah, we had tested that last time with GR4J where the matlab mex version calibrated 40X faster than Raven. Ideally we would want Raven to handle input/outputs bindings from memory but last time James seemed to say that it was going to be quite some work and did not seem like it was going to be doable in a reasonable amount of time?

Of course if we can get that, then this is a moot point :)

[2019-04-04 15:14] Zeitsperre commented on #87
Closed with #86

[2019-04-04 15:14] #87 closed

[2019-04-04 16:53] richardarsenault opened #109 "Need to define classes for land-cover aggregation from Tiff"
## Description

Need to go from ~20 classes down to ~5 for regionalization.

[2019-04-04 16:55] richardarsenault commented on #109
@Zeitsperre Is the dataset the NALCMS? With 19 classes? Depending on the discretization (There is another set with over 60 classes) I can provide a classification to agregate similar use classes.

[2019-04-04 18:26] richardarsenault commented on #93
Now works with Birdy version 0.6.0

[2019-04-04 18:26] #93 closed

[2019-04-06 04:08] richardarsenault opened #110 "Notebooks are returning NetCDF objects rather than Xarray objects"
## Description

Since last update, using the attribute resp.get(asObj=True) returns NetCDF4 objects instead of xarray on my machine. Tested in notebooks and in pure python script.

[2019-04-06 04:09] richardarsenault commented on #110
@huard
Could it be that the new converter tools in Birdy 0.6.0 are causing this? It used to return xarray objects but I am now getting just ordinary NetCDF objects.

[2019-04-08 12:48] #12 closed

[2019-04-08 13:35] huard commented on #110
@richardarsenault Yes, correct. I did some refactoring and did not notice the "converter checker" did not find xarray anymore. Will fix rapidly.

[2019-04-09 19:41] Zeitsperre commented on #98
@huard The DEM is merged and working on one test server (CRIM) and the Ouranos prod server. Since the file itself is around 24G, the DEM tiles needed to be precached (thanks to @davidcaron for the help with that). The layer loads fairly quickly on the frontend from what I can tell.

You probably already know this but the best way to access the tile is through WCS 2.0.1 protocol. A request using a

[2019-04-09 19:46] huard commented on #98
Excellent! Will try next week to integrate into the process.

[2019-04-09 19:48] Zeitsperre commented on #98
Visibility is better using the Roads base map. Not sure where I can increase the opacity but hey it works:
![Screenshot_2019-04-09_15-29-36](https://user-images.githubusercontent.com/10819524/55830344-b0fb2780-5ade-11e9-8a9b-28f290809b9d.png)

[2019-04-11 15:55] Zeitsperre commented on #109
@richardarsenault Yes, the raster we ended up going forward with is the CEC NALCMS (2010). From the metadata:
[code]
If you can provide suggested groupings, I can go about creating a definition that can be referenced to reclassify pixels on-the-fly and then replace the category names within the JSON or GeoJSON outputs. I should have some time to put towards this in the next week.

[2019-04-11 16:10] Zeitsperre commented on #109
We can also consider integrating the MODIS Annual Land Cover imagery (500m resolution) https://lpdaac.usgs.gov/products/mcd12q1v006/. After all, 2010 was a while ago now :sweat_smile:.

Classifications for those are in either 17 (IGBP) or 15 (UMD) categories. It probably wouldn't be too hard to integrate in the future. Ideally, a 2020 version of the CEC NALCMS should be available soon, but I have

[2019-04-11 16:12] huard commented on #109
That would be for the maintenance phase.

[2019-04-11 16:19] Zeitsperre opened #111 "Travis CI raises a lot of warnings for TestGenericZonalStatsProcess"
The `rasterstats` library is raising a lot of warning in the Travis CI readouts when performing categorization of rasters. This is due to deprecated use of `numpy.asscalar()` within the `ZonalStats` call in newer NumPy versions.

I've raised an issue about this with the project maintainer (https://github.com/perrygeo/python-rasterstats/issues/183) and will be submitting a PR to see if the code can

[2019-04-12 02:15] richardarsenault commented on #109
OK great. Here is a list of suggested groupings:

Group 1: Forest
Value 1, Temperate or sub-polar needleleaf forest, RGB 0 0.24 0;
Value 2, Sub-polar taiga needleleaf forest, RGB 0.58 0.61 0.44;
Value 3, Tropical or sub-tropical broadleaf evergreen forest, RGB 0 0.39 0;
Value 4, Tropical or sub-tropical broadleaf deciduous forest, RGB 0.12 0.67 0.02;
Value 5, Temperate or sub-polar broadleaf decid

[2019-04-12 02:27] richardarsenault commented on #110
Works now with the current version, thanks

[2019-04-12 02:27] #110 closed

[2019-04-16 15:27] Zeitsperre commented on #109
Working on this today. I should have updates this afternoon.

[2019-04-18 18:23] huard opened #114 "Filter features using Geoserver instead of Fiona in shape_selection"
## Description

It's possible to use WFS services to filter features for polygons containing a point. This would possibly be faster than downloading the features on the server and making the filter operation locally.

See https://enterprise.arcgis.com/fr/server/10.3/publish-services/linux/communicating-with-a-wfs-service-in-a-web-browser.htm

[2019-04-18 19:26] huard opened #115 "Deploy 0.5"
## Description
@moulab88  Pourrais-tu déployer 0.5 sur Medus ?

https://github.com/Ouranosinc/raven/releases

Merci !

[2019-04-18 19:31] #18 closed

[2019-04-18 19:32] huard commented on #3
@Zeitsperre Status ?

[2019-04-18 19:33] huard commented on #3
@Zeitsperre Status ?

[2019-04-23 14:47] Zeitsperre commented on #3
@huard The raster is present on a CRIM testing server. I'm blocked at the moment on the Ouranos production server as the layer uses a custom projection that needs to be configured within the GeoServer files. I need to wait on @moulab88 to create a `user_projections` folder within `/data/geoserver` folder that I have write access to before I can get the layer online.

[2019-04-23 16:06] Zeitsperre commented on #114
@huard Short answer: Yes.

Longer answer: If we load the data into PostGIS database (converting it from shapefile to database via `ogr2ogr`) and the expose that on the GeoServer, we can access the service using SQLalchemy/GeoAlchemy using a really simple `FROM * SELECT table.feature WHERE ST_CONTAINS(<point location>, table.geom, ...);` query.

I've set up PostGIS database accessing local data bef

[2019-04-23 21:52] Zeitsperre commented on #111
This is beyond the scope of the work in RAVEN. Nothing can be done until changes are performed upstream. Closing.

[2019-04-23 21:52] #111 closed

[2019-04-25 13:46] Zeitsperre opened #116 "PEP8 and HBVEC model tests are failing"
The master branch is currently failing due to inaccurate outputs from the HBVEC process tests as well as from a bunch of PEP8 violations. I can deal with the PEP8 syntax but could @huard or @richardarsenault see why the hydro model outputs aren't accurate?

Opening an issue here now to open a new branch dealing with both those problems.

[2019-04-26 17:43] #116 closed

[2019-04-26 18:15] #98 closed

[2019-05-03 18:40] #109 closed

[2019-05-03 18:42] Zeitsperre commented on #3
Fixed with #112

[2019-05-03 18:42] #3 closed

[2019-05-08 11:18] richardarsenault opened #119 "NALCMS not functionning properly for a zipped shapefile archive as delimiting shape"
Trying to extract NALCMS data using a shapefile as vector shape data. .shp, .shx and .dbf are in a zip archive. Replacing "shape=TESTDATA['mrc_subset'] with a custom path to my zip, the code runs but I get an error:
____________________

Traceback (most recent call last):
  File "/home/ets/src/raven/raven/utilities/gis.py", line 175, in get_raster_wcs
    subsets=[(x, left, right), (y, down, up)])

[2019-05-08 19:49] #119 closed

[2019-05-08 21:50] Zeitsperre opened #121 "Terrain analysis rasters are shifted"
## Description

The data coming out of the terrain analyses is inaccurate by several KMs and it's certainly not an ideal situation:

![Screenshot from 2019-05-08 17-39-43](https://user-images.githubusercontent.com/10819524/57410785-c0db5980-71b9-11e9-948c-afca340ae91e.png)

I'm certain this is due to the CRS being wrong after many of the changes that occurred when switching the sources of data ove

[2019-05-09 15:56] #114 closed

[2019-05-09 19:30] Zeitsperre commented on #121
Fixed along with several bugs and enhancements with 254b1e3bdc7372fc28a9c681f26df7ba5438662d (accidentally pushed to master). Changes were as follows:

* Fixed a bug where rasters were being improperly warped

* Fixed a bug where shape properties were being converted to json twice (**This was creating unreadable properties values for all reprojected shapes**)

* Removed GeoPandas from generic_terr

[2019-05-09 19:30] #121 closed

[2019-05-09 19:37] huard opened #123 "GIS notebooks"
## Description

Write flashy notebooks showcasing the GIS analytics of Raven.

[2019-05-09 19:45] Zeitsperre commented on #123
Does this mean that the GIS functionalities we wanted in Raven are now complete?

[2019-05-09 19:49] huard commented on #123
Yes, what's left would be UI components related to these functionalities.
We might want to evaluate what could be done right from a notebook. If you have free cycle you might want to look into it.

[2019-05-09 20:31] huard opened #124 "Host Canopex data on THREDDS (2)"
## Description

- [x] Check Canopex metadata
- [x] Add to THREDDS

Related to #37

[2019-05-10 17:14] richardarsenault commented on #123
There is already a well-advanced notebook for GIS aspects in docs/sources/notebooks/delineation_workflow.ipynb

I have added some codes to extract lots of information, I'll push it later tonight.

[2019-05-14 13:06] richardarsenault opened #125 "Allow exporting of the Raven setup files to the users"
Currently, users must build their Raven model files using the provided guidelines. This can sometimes be complex. This RAVEN package does the grunt work to be able to run and so it would be possible to use this service to generate Raven input files that can then be used to run the Raven model locally.

In essence, we would like to Export generated rv? files.

[2019-05-19 02:39] richardarsenault opened #127 "Terrain analysis only seems to work with multi-polygon features"
Terrain analysis has been performed using wps_generic_terrain_analysis on the 5797 catchments. Only those that have more than 1 polygon (for example those that have an orphan pixel that is not joined to the main polygon) work. The others return errors:

 owslib.wps.WPSException : {'code': 'NoApplicableCode', 'locator': 'None', 'text': 'Process failed, please check server error log'}

And in the se

[2019-05-19 16:15] Zeitsperre commented on #127
@richardarsenault The DEM should be available for all of North America. The PAVICS instance also shows that the coverage is available, so I'm not sure how that's happening.

It's possible that I didn't write a case for simple polygons. I have limited time this week for raven, but I'll see if I can spend some time on this problem specifically.

[2019-05-19 16:51] richardarsenault commented on #127
@Zeitsperre Hmmm is it possible that the slope DEM is not calculated beyond 40°N? the terrain_analysis is the only wps service that is not working. the shape_properties works, as does the NALCMS Land Cover. And in my dataset it is a perfect match between the 40°N limit and the code working or not. All above 40°N work, all others fail (about half-half on a 5797-basin dataset). Unless something else

[2019-05-19 17:10] Zeitsperre commented on #127
The CRS should be also cover areas south of 40N, but in case that is indeed the issue, can you try running your analysis using `3978` or `102008`. These projections cover USA and Canada so anything dropping below 40N should be supported. Storage space for intermediary files shouldn't be an issue either, even with such a large number of features.

Also, the handling for polygon and multipolygon fea

[2019-05-20 00:14] richardarsenault commented on #127
Oh yeah I hadn't thought of the projection.. I just checked and 6622 (Quebec Lambert) covers most of NA over 40.04°N, which would explain the problem!

**WGS84 bounds:
-141.01 40.04
-47.74 86.46**

Do you think the results will still be good if I change the projection? In any case, I've started the runs and it works!! So we can quality-check after but at least a basic DB will be ready.

Thanks for

[2019-05-21 17:03] Zeitsperre commented on #127
The quality depend on the purposes. I should try looking into a generic CRS for North America that we can use by default. I know for some calculations performed via PostGIS, the Great Circle distances are used, but these are really simplified. Worth looking further into.

[2019-05-21 20:33] richardarsenault commented on #123
I have added a code I used to extract all GIS data in the regionalizationData branch, in tests/testdata/regionalization_data.

[2019-05-27 13:06] huard commented on #127
@richardarsenault Les liens vers les fichiers tests ne marchent pas pour moi.

[2019-05-27 13:32] huard commented on #127
J'ai "guessé" d'où venait l'erreur dans fix-127. Probabilité de succès faible...

[2019-05-29 23:42] #115 closed

[2019-06-04 13:40] #127 closed

[2019-06-04 15:42] huard opened #130 "Add Raven to Canarie API"
## Description

Send mail to Dan. Add section in config.

[2019-06-04 16:05] huard opened #132 "Example of meteo netCDF subset for watershed."
## Description

Create a notebook showing how to subset and aggregate climate variables for a watershed and feed the output to raven.

[2019-06-04 19:12] huard opened #133 "Fix broken readthedocs installation"
## Description

Our docs are not entirely built by readthedocs.

[2019-06-04 19:22] #23 closed

[2019-06-04 21:41] huard opened #135 "Prepare Canarie demo"
## Description

This entails having a notebook exercising every feature of our feature list.

[2019-06-04 21:42] huard opened #136 "Frequency analysis graphic"
## Description

Notebook with plotly graphic showing data and fitted distribution.
Option for log-scale

[2019-06-05 02:01] richardarsenault opened #137 "Add MOHYSE to the regionalization models"
## Description
We currently have HMETS and GR4J as possible models for regionalization. Database for MOHYSE is now ready but the code needs to be adapted.

Can go in the maintenance phase.

[2019-06-05 14:42] huard opened #139 "shape-selection improvements"
## Description

Things to improve with shape-selection process
- The name. The process is specific to HydroSheds, while the name is generic.
- aggregate_upstream: depending on whether this is set to True/False, the output's type changes. Either make it a FeatureCollection or a Feature.
- At the moment the level and lakes parameters are there but if we select anything but the default, an error is r

[2019-06-05 16:02] huard opened #140 "bug in nalcms category aggregation"
## Description

zonal_stats doesn't sum the contribution of each category, hence the mismatch between the pixel count and count for individual categories. Fixed. Will issue PR with delineation notebook.

[2019-06-06 14:13] Zeitsperre commented on #140
@huard Good to close?

[2019-06-06 14:14] Zeitsperre commented on #139
@huard Good to close?

[2019-06-06 15:17] huard commented on #140
There is still no explicit test for this. I suggest we add a test checking that the total of the categories is equal to "count".

[2019-06-06 15:17] #139 closed

[2019-06-06 19:43] huard opened #141 "fix dockerfile"
## Description

The Dockerfile should run `make install` to download and compile the RAVEN hydrological model and OSTRICH. This creates binary executables that are essential to the services.

Is it possible to run the test suite when the docker image is built and report errors ?

[2019-06-06 19:53] huard commented on #141
Should we add in the `__init__.py` a check to make sure the binary is there ?

[2019-06-06 20:21] tlvu commented on #141
This is a great idea.

We can add extra steps in the Dockerfile to run the test suite.  Is the test suite able to run outside the checkout dir to test the "real world"?

[2019-06-06 20:37] huard commented on #141
Will take care of the init then pass you the puck for the docker file.

Not sure I understand what you mean. We just want to make sure that the docker build is functional. Whether it is well integrated in the platform will be the job of the notebook tests.

[2019-06-06 20:39] huard commented on #141
The init checks are already there... I don't understand why they didn't raise an error.

[2019-06-06 20:43] huard commented on #141
Argh ! Got it.

[2019-06-06 21:04] tlvu commented on #141
I was thinking instead of writing new tests, can we just reuse some or most of the unit tests suite but running at the end of the docker build.  But those unit tests must be able to run from the installed binaries, not from the code inside the checkout.

Just an idea ... might not work.

What's are the minimal tests to confirm  the docker build is functional?

[2019-06-06 21:14] huard commented on #141
If `pytest tests/` runs with no error, then everything is functional. It means the binaries were installed correctly. But we probably don't want to have to run those tests every time we launch the container, just when we build.

[2019-06-06 21:27] huard commented on #141
Note that we'd need to install pytest and pytest-dependency before running the test suite.

[2019-06-07 12:56] huard opened #143 "Configure magpie"
## Description

raven roule maintenant sur boreas, mais je pense qu'il faut accorder les permissions sur magpie pour que ça marche.

[2019-06-07 17:45] huard commented on #133
Closing this for now as readthedocs complains about the disk space necessary for the installation.

[2019-06-07 17:45] #133 closed

[2019-06-10 03:53] tlvu commented on #143
C'est fait ... désolé j'ai oublié ce petit détail encore manuel ... argggggggghhhh ... faudra qu'on puisse aussi déployer la config de magpie avec magpie.  Faire la config à la main dans le Web UI ne scalera pas.

[2019-06-10 03:53] #143 closed

[2019-06-10 18:04] #141 closed

[2019-06-11 05:12] richardarsenault commented on #132
Hi @Zeitsperre, I am wondering if you could give me an ETA for this, it is my main blocker for the rest of the notebooks / workflows. Thanks!

[2019-06-11 11:56] huard commented on #132
This could in principle be done using the  `averager_WFS` process in flyingpigeon. We need to pass it the typename, the feature ids, the geoserver url and mosaic=True. Does our `hydrosheds-select` process return the feature ids ? I know it returns the basins id, but are they the same ?

[2019-06-11 18:56] Zeitsperre commented on #132
Hey @richardarsenault, I can start on this and other tickets tomorrow. I'll be able to give you an estimate then.

[2019-06-12 17:25] #24 closed

[2019-06-12 17:29] richardarsenault commented on #22
Calibration / simulation notebooks are done for a given NetCDF. Do we want to go deeper than that? I will adjust with the climate data extraction once that is up and running (using PAVICS to extract climate data, etc.).

[2019-06-12 17:40] huard commented on #22
Nope, sounds good.

[2019-06-12 19:24] richardarsenault opened #145 "HMETS OSTRICH calibration does not return same NSE as an identical run using the optimized parameters."
Test can be performed in notebook: Running_OSTRICH_hmets

[2019-06-13 16:11] huard commented on #130
Done, but Canarie API server down on pavics.ouranos.ca

[2019-06-13 16:11] #123 closed

[2019-06-13 16:23] Zeitsperre commented on #132
Working on this today. Updates later.

[2019-06-13 16:42] Zeitsperre commented on #132
@huard I can see in the feature that "id" is a top-level attribute (alongside geometry and properties) that is a copy of the "NEXT_SINK" and a potential bug in the GeoJSON output. Investigating this now.

The closest thing to a fid is the "id" property which uses the name of the table and the feature number (e.g. `"id": "USGS_HydroBASINS_lake_na_lev12.96929"`). This fid is only relevant if the sou

[2019-06-13 18:09] huard opened #148 "Automate doc build on travis"
## Description

The readthedocs build is broken at the moment because the install is too large.
We could use travis-ci to build the docs and push to github pages.

See https://drdoctr.github.io/

- [ ] Add doc building to `.travis.yml` Py3.6 build
- [ ] Can we have the docs for every branch we push ? https://drdoctr.github.io/recipes.html#recipes
- [ ] Modify the canarie-api link to link to github

[2019-06-13 18:14] #22 closed

[2019-06-17 18:54] #130 closed

[2019-06-21 14:18] #79 closed

[2019-06-21 14:20] #136 closed

[2019-06-21 14:20] #20 closed

[2019-06-21 15:59] #97 closed

[2019-06-21 19:39] huard opened #159 "Let users calibrate model with metropolishasting"
## Description

I'd like to try different calibration algorithms, but it doesn't work out of the box at the moment.
In particular, we're interested in the MCMC sampler. It seems it only works with the WSSE metric. Would that be just RMSE squared ? How do we compute this in Ostrich ?

At the moment there is no connection in the python wrapper between the OST configuration and the raven configuratio

[2019-06-21 19:45] richardarsenault commented on #159
@huard can we try GLUE (I know) because in the Ostrich Manual it seems that it can handle other metrics while MCMC only handles WSSE.

[2019-06-21 19:45] huard opened #160 "Code review"
## Description

Review all classes and functions for clarity and robustness. Improve test coverage.
Refactor as needed.

[2019-06-21 19:55] huard commented on #159
GLUE seems to work better, but `save_best.sh` does not seem to be called, so there is nothing in the `final` directory.

[2019-06-25 15:52] tlvu commented on #148
What installs are required that is too large?  I am not familiar with readthedocs but can we provide it like a docker image with everything needed already installed so there are no installs to do and on top of that this allows us to lock down on all recursive versions of the installs (aka reproducible environment)?

[2019-06-25 16:06] Zeitsperre commented on #148
The reason that the build is failing is because of the memory requirements needed to install the conda environment. From the build statuses:
[code]
Is it really possible to send RtD a docker image that it can run directly from?

[2019-06-25 16:12] tlvu commented on #148
Like I said, I have no experience with readthedocs so what I said about docker image is pure speculation.  However, we are probably not the only one needing a large install ... I wonder what are readthedocs recommended best practice for similar case.

[2019-06-25 17:32] huard commented on #148
Conda support is fairly new in RtD, and I've heard nothing about docker support.

[2019-06-25 18:10] tlvu commented on #148
https://docs.readthedocs.io/en/stable/builds.html
"The build process is executed inside Docker containers, by default the image used is readthedocs/build:latest, but you can change that using a Configuration File."

If using our own docker image does not work, another way out is
"Every documentation build has limited resources. Our current build limits are:

    15 minutes of CPU
    1GB of RAM me

[2019-06-25 20:03] tlvu commented on #148
ReadTheDocs team is working on a feature to allow upload of pre-build docs https://github.com/rtfd/readthedocs.org/issues/1083

[2019-06-25 20:29] huard commented on #148
I don't see a related PR. I would not hold my breath for this feature.

[2019-06-25 20:30] richardarsenault commented on #135
Demo is complete, workbooks were developed for every feature.

[2019-06-25 20:30] #135 closed

[2019-06-25 23:10] tlvu commented on #148
ReadTheDocs might be willing to increase our memory limit, see discussion in https://github.com/rtfd/readthedocs.org/issues/5847#issuecomment-505651860

[2019-06-26 15:49] huard commented on #148
Ok, but I'm still not sure how this is better than building the docs on Travis.

[2019-06-26 16:39] tlvu commented on #148
It's not Travis, it's hosting on Github that I prefer not to.  I noticed many weird multiples glitches with Github since Microsoft acquired it.  I've shown some of the glitches to @Zeitsperre.  I'd rather us not depend on more Github services.  Is there somewhere else we can host our docs?

[2019-06-26 17:20] huard commented on #148
Are these glitches specifically related to gh-pages ? We've been using this for pavics-sdi for two years now without issue.
If it's not broken, don't fix it.

[2019-06-26 17:25] tlvu commented on #148
Github glitches not related to gh-pages.  The guys at RTD is giving me some leads on how to generate docs without installing dependencies (so no memory problems anymore), see https://github.com/rtfd/readthedocs.org/issues/5847#issuecomment-505960920.  So I'd like to give it a shot before giving up.

[2019-06-26 17:45] huard commented on #148
Understood, but autoapi won't work for us.

[2019-06-26 19:07] huard opened #163 "Use pavics.ouranos.ca as the server for notebooks"
## Description

- Change localhost to pavics.ouranos.ca
- Check that the notebooks still work

[2019-06-27 20:42] tlvu commented on #163
Can use http://jenkins.ouranos.ca/job/PAVICS-e2e-workflow-tests/job/enable-raven-notebooks-in-jenkins/ to test Raven notebooks passing on Jenkins.

[2019-07-25 13:16] #132 closed

[2019-07-26 15:18] Zeitsperre commented on #148
@tlvu Let's start back on this when you have a minute. Let me know when you're free.

[2019-07-26 16:23] huard commented on #148
One problem I have at the moment is that the platform documentation requires installing multiple packages that are often difficult to get to work together. I would like the pavics-sdi documentation to be able to pull from the individual package documentation, as I think this would simplify the build.

1. Automate build for individual birds with travis, push to gh-pages
2. Set-up intersphinx in pav

[2019-08-07 02:54] tlvu commented on #148
WIP branch: https://github.com/Ouranosinc/raven/tree/fix-rtd-build-with-smaller-env-yml

RTD test doc build: https://pavics-raven.readthedocs.io/en/fix-rtd-build-with-smaller-env-yml/
Sample Build log: https://readthedocs.org/api/v2/build/9479705.txt

Solved the memory limit bursting problem, just autodoc left to solve.

Sample error in build log above breaking autodoc:
[code]

[2019-08-07 15:44] #148 closed

[2019-08-12 20:50] #140 closed

[2019-09-17 12:16] richardarsenault commented on #21
@huard @julemai
Here are 2 packages that Julie has made available and that could be relatively easy to implement in PAVICS for parameter uncertainty and sensitivity:

Efficient Elementary Effects (EEE): https://github.com/julemai/EEE
Model Variable Augmentation (MVA): https://github.com/julemai/MVA

Thanks Julie!

[2019-09-17 12:19] richardarsenault commented on #107
@julemai
Hi! Do you know if there has been progress on the RAVEN-DDS development side? Thanks!

[2019-09-17 12:21] richardarsenault commented on #90
@huard @Zeitsperre
Hi guys,
I was wondering if there is any news on this front? It seems that it should be possible by now to extract data from a dataset using a shapefile? I feel like this is the main blocker stopping us from demonstrating the software's capabilities to the outside world, as we have to tell users to build their own NetCDF, which in theory we should be able to do. I know there was

[2019-09-17 13:40] huard commented on #90
We've decommissionned the old FP and should be able to deploy the new version this week or the next.

[2019-09-21 17:36] richardarsenault commented on #107
I'll close this issue and open another with the Raven-DDS impementation.

[2019-09-21 17:36] #107 closed

[2019-09-21 17:38] richardarsenault opened #168 "Provide a faster calibration scheme for Raven"
Ostrich is too slow to calibrate Raven for many model runs and longer time-series. Therefore we will add the Raven-DDS option, which internally performs the DDS calibration inside RAVEN, thus completely eliminating the need for disk I/(o) and speeding-up the process.

[2019-09-21 17:42] richardarsenault opened #169 "Provide more RAVEN model configurations"
As of now, only 4 Raven model configurations are possible: HMETS, GR4JCN, MOHYSE and HBV-EC. Ideally we would want to add maybe 6 other configurations for various reliefs and climates (i.e. good in plains, in mountains, coastal, arid, etc.)

This would be done with the expertise and knowledge of the raven configs that James Craig had proposed.

[2019-09-21 17:46] richardarsenault opened #170 "Integrate the Canadian HydroLakes routing model for RAVEN distributed modelling"
Waterloo (Bryan and Ming) have developed a routing model that takes into consideration the topography and lakes in flow routing, which allows building a raven distributed modelling file.

Right now, the tool uses ArcGIS for some catchment delineation and slope/channel burning calculations, however it seems this can be replaced by simple calls to GDAL.

The aim is to provide an easy method to build

[2019-09-21 17:47] richardarsenault commented on #106
We will close this as it seems that this is too complex and dangerous for unassuming users. Therefore we will provide more fixed model configs instead.

[2019-09-21 17:47] #106 closed

[2019-09-21 17:48] richardarsenault commented on #108
Closing due to new scope using hydroLakes in another issue.

[2019-09-21 17:48] #108 closed

[2019-09-21 17:51] richardarsenault opened #171 "Create introduction to RAVEN training using notebooks"
We would want users to use this platform to learn to use RAVEN in a more visual and step-by-step manner during RAVEN workshops. Introducing RAVEN through PAVICS will soften the introduction.

The aim of this issue is to gather information about what the goals of the workshop are, make notebooks that allow attaining these goals and using PAVICS-Raven as a springboard to be more efficient with Raven

[2019-09-21 17:52] richardarsenault opened #172 "Implement EEE and/or MVA sensitivity analysis"
Two new sensitivity analysis methods have been developed and we would want to add them to the platform. EEE and MVA are developed already and should be implemented in the platform and tested.

[2019-09-21 18:13] richardarsenault opened #173 "Provide workflow notebooks for a suite of tasks"
Provide a suite of hydrological modelling notebooks to perform tasks, and document them clearly as to be modifiable by users with little experience. Ensure that the results obtained are realistic and that the results can be interpreted. Provide guidelines on the use of various methods.

[2019-09-21 18:14] richardarsenault commented on #5
We have decided to use Notebooks in lieu of a full-fledged GUI. Closing as now Out of Scope.

[2019-09-21 18:14] #5 closed

[2019-09-21 18:16] richardarsenault commented on #15
@huard Can you confirm this is either done or now out of scope? Can we close this?

[2019-09-21 18:19] richardarsenault commented on #36
@huard @tomLandry I think we can close this issue now?

[2019-09-23 13:12] Zeitsperre commented on #170
@richardarsenault Sounds good. Is there a PR/branch/gist somewhere with the core algorithms laid out? Seeing as Raven is relying on Rasterio and Fiona, writing calls to GDAL using a bit of a step backwards. I've written a few generic tools using them into the utilities that we can also probably leverage. I just need a look at what needs replacing.

[2019-09-23 15:02] julemai commented on #170
@Zeitsperre We don't insist on GDAL calls. It is only that the toolbox is using ArcGIS functions right now and they (supposedly) should be replaced for this project. The codes are not yet available. I have to talk to Bryan and Ming but I am assuming that they want to publish this first.

[2019-09-23 15:43] julemai commented on #172
* EEE is a sensitivity method to identify informative parameters with a minimal number of model runs (might be helpful pre-calibration)
* MVA is a method to estimate the uncertainty of sensitivity estimates (so far Sobol' and PAWN implemented) without the necessity of additional model runs or bootstrapping

We might want to implement the Morris method (easy since EEE is based on that), Sobol' and

[2019-09-25 15:27] Zeitsperre commented on #170
Depending on the type of functions being called, there are either drop-in replacements using QGIS or if the functions are generic enough (intersections, differences, buffers, etc.) they can be replaced by Rasterio, Fiona, or frameworks like GeoPandas. Keep me in the loop!

[2019-10-02 18:48] huard opened #174 "Create a notebook based GUI for region selection"
## Description

A notebook GUI where users can display polygons from a WFS layer, click on a region and get the associated polygon.

[2019-10-02 20:34] davidcaron commented on #174
I was thinking we could benefit from creating a small utilities libraries for selecting entities, regions and general georeferenced user interaction inside a jupyter notebook. Something that could be reusable...

It's more of a medium term planning that would need more discussion, but I think we seem to be heading towards that. For simple inputs we can still get around with one-off helper function

[2019-10-02 21:04] huard commented on #174
Sounds good. I suggest we embed those capabilities within an existing project to benefit, e.g. owslib.
@tomLandry Worth discussing with Tom K ?

[2019-10-02 21:13] davidcaron commented on #174
I think what I'm thinking about is a bit out of the scope of owslib, because owslib focuses on implementing ows standards (I could be wrong?) Kind of the same way that birdy is a 'more convenient' library over owslib for WPS processes.

I agree it would be nice to benefit an existing library, but I'm not sure which one...

[2019-10-03 13:01] huard commented on #174
No, you're probably right. Let's keep looking.

[2019-10-03 14:52] Zeitsperre commented on #174
I can recall coming across a python library maybe a year that had controlled terms for specific regions. I'll try looking through my old bookmarks to see if I can find it. Might be something that satisfies our needs that we can leverage for multiple projects. I'll update what I find here.

[2019-10-10 14:36] Zeitsperre commented on #174
Found it: https://regionmask.readthedocs.io/en/stable/

There are a few pre-defined regions within the package (countries, SREX regions). This would be an interesting library to build upon to add a few more regions (Quebec, QC-CLIMEX, CORDEX, etc.). Again, this is probably a medium priority issue.

[2019-10-21 14:30] huard commented on #174
@Zeitsperre Status ? I've got a meeting with Canarie next week and having this would be nice.

[2019-10-21 15:10] Zeitsperre commented on #174
Haven't had time to work on this. Seeing that this is a priority, I'll put some hours into this today.

[2019-10-21 16:02] Zeitsperre commented on #174
@huard Looking over the comments here, I can see that there's a lot of overlap with the needs of other services (finch in particular). I can also see where @davidcaron is coming from with the need for "a better owslib".

As it stands, the way that RAVEN collects WFS layers is via some hard coded owslib functions in `gis.py`. This is due to the fact that we haven't figured ou a reliable and easy wa

[2019-10-21 17:10] huard commented on #174
I suppose one option would be to have a WFSLayer class in ipyleaflet. This is probably not trivial and may require some js coding. Step one would to be open an issue in ipyleaflet about this.

As a first pass, can you reuse those raven gis functions inside a notebook and just display them inside the leaflet canvas ?

Another option would be to download the layer as geojson and use something like t

[2019-10-21 19:11] Zeitsperre commented on #174
@huard the basics are shown here. I'm still running into the issue with how old the RAVEN instance is on our PAVICS but both the API calls are in the notebook. I'm going to look into what functions can be turned into user-facing processes. I'll save my work to the #175 branch.

[2019-10-21 20:07] huard commented on #174
I suggest to focus on the notebook for this branch and get it merged rapidly. Please open another issue for further backend work.

[2019-10-21 20:27] Zeitsperre commented on #174
Okay. All I've done is add some type hinting to `utils.py`. I'll refrain on further backend work in that branch.

[2019-10-22 13:42] #174 closed

[2019-11-05 21:24] richardarsenault opened #176 "Add Arctic Hydrosheds layer to Database"
Current HydroBasins database hosted is the North American DB. It would be important to add the acrtic which covers Northern Canada and Alaska. Eventually, we should also include the others to provide a worldwide watershed delineation and properties extraction tool.

[2019-11-11 19:39] #163 closed

[2019-11-11 21:08] huard commented on #125
Working on it.
Should the output be a zip file storing the configuration files ?
How should it behave for multiple parameters and multiple models ? Do you want subdirectories inside the zip for each model run ?

[2019-11-11 21:12] richardarsenault commented on #125
Good question. Should we limit this option to single model setups? If we want to go for the all-in-one approach, then yes I think we should have everything in separate zip files. However maybe the EXE should not be included in the package for the larger sets (i.e. more than one model setup/parameter set)? Or do we want to simply not put the model .exe at all?

[2019-11-11 21:29] huard commented on #125
I was not planning to include the .exe anyway, as it would be 1. large, 2. client hardware dependent.

The question is really about the rv configuration file structure when there is more than one model run. We're constrained by WPS in having a single output file for all configuration files, the freedom we have is in what we put into that zip file and how it's organized.

[2019-11-11 21:40] richardarsenault commented on #125
OK then yes, I think your idea of having nested zip files is the best way forward. Sounds good to me anyways. And good point for the exe being system dependent, didn't think of that.

[2019-11-22 19:38] huard opened #182 "Document installation process"
## Description

There is no installation section in the docs.

[code]

[2019-12-02 14:23] richardarsenault opened #183 "Add ERA-5 database to server as proxy-observed weather data"
We need to add some reference observation data for hydrological modelling (calibration, simulation, eventually forecasting). As of now there is no data source. ERA-5 is a reanalysis product that covers 1979-2018 globally at a ~31km resolution. We can distribute it freely conditionally on mentioning the source:
[code]

Format is NetCDF and is an hourly product. The hourly properties will require co

[2019-12-02 14:29] huard commented on #183
See https://github.com/Ouranosinc/pavics-sdi/issues/144

[2019-12-02 14:51] huard opened #184 "User accounts on JupyterLab"
## Description

Use same credentials as for Magpie, so that once in Jupyter notebooks, there is an access to processes and data.

[2019-12-02 17:09] Zeitsperre commented on #183
I've collected a fair amoint of data from ERA5 at Ouranos. The extracts using the CDSAPI tool don't follow CF-Conventions but I have some treatment scripts that can help in getting them closer to it. This is worth planning out in greater detail.

[2019-12-02 17:19] tlvu commented on #184
Depends on https://github.com/Ouranosinc/Magpie/issues/174.  Once that Magpie issue is resolve, still have to somehow find a way to propagate/expose that authentication token from JupyterHub to all the notebooks (is this supported in the security model of JupyterHub to expose authentication token).

Also having JupyterHub authentication integration with Magpie will benefits all the processes, not

[2019-12-02 17:32] huard commented on #184
Because it was part of our original proposal, but comfortable with moving it.

[2019-12-02 17:35] huard commented on #183
@richardarsenault Could you include here what you need in terms of variables, frequency, spatial coverage, etc.

@Zeitsperre Are the original files themselves cf-compliant ? Or is the extraction process to blame for removing metadata ?

[2019-12-02 17:41] richardarsenault commented on #183
Precip, Tmax and Tmin, ideally daily time step, coverage all of North America. Longest possible time series also (i.e. 1979-most recent).

[2019-12-02 17:42] tlvu commented on #184
We can leave this issue here.  I was just wondering.  Thanks.

[2019-12-02 18:02] Zeitsperre commented on #183
@huard The extraction process is to blame for removing most of the metadata. The way that the data extraction is set up, I don't think one can download source files in any case.

@richardarsenault I have all of these extracted and they are currently stored in a somewhat CF-like format. If we can navigate data access rights, I can place on copy on our prod server with relative ease.

[2019-12-02 18:54] huard commented on #183
@Zeitsperre Is this something worth a bug report to the cds toolbox folks ? I'm concerned that existing ERA-5 users access our repo, find the the files are different from those they're using, and end up being confused. Suggestions to make the whole thing as transparent as possible ?

Have you agreed something with Nathalie/Agnès regarding data access rights and credits ?

[2019-12-06 13:18] huard opened #185 "Sync testdata folder to THREDDS testdata/raven"
So we can run tests entirely on the platform.

[2019-12-10 02:30] #176 closed

[2019-12-10 02:57] #125 closed

[2020-01-10 18:17] huard opened #187 "Update to latest cookie-cutter"
Work on tools to help with this: https://github.com/bird-house/cookiecutter-birdhouse/pull/79
This is currently being done for Finch. I suggest we wait until it's done to Finch before doing it to Raven.

[2020-01-14 19:21] huard commented on #182
Start with #187

[2020-01-17 16:45] Zeitsperre commented on #183
It's easier to show what I mean when I say that the metadata does not follow conventions:
[code]

I'd like to try subsetting this and sending a sample to an online CF-Checker but even the lat and lon and lon dimensions don't follow what we normally have in most NetCDFs. Opening a PR for this on xclim right now.

[2020-01-17 16:52] julemai commented on #183
Hi @Zeitsperre! Do you mean that you can't run RAVEN with it or you have trouble with something else? The header looks pretty good to me.

[2020-01-17 17:02] Zeitsperre commented on #183
It runs perfectly fine, the issues here are that they don follow "typical" CF-Compliant nomenclature. For example, "latitude" and "longitude" dimension are almost always written "lat" and "lon". Also, the units for total precipitation don't follow convention (the variable name should be 'pr', with standard name 'precipitation_amount' and units of 'kg m-2' and appropriate cell methods).

The issues

[2020-01-17 17:04] Zeitsperre commented on #183
The issues I can see are that these inconsistencies are going to be edge cases that need to be handled within RAVEN's individual processes.

[2020-01-17 17:06] julemai commented on #183
I see. When we start including CaSPAr data you will likely run into similar issues. Below is the header of a classic CaSPAr NetCDF file (HRDPA = CaPA 2.5k). Do you think you will be able to handle/subset these?

[code]

[2020-01-17 17:26] Zeitsperre commented on #183
Yes. I'm certain that so long as the dimensions make reference to the spatial transformation (ie: `rotated pole` with `lat` and `lon`) they should be understoud. The only issues I can see are the variable names. I would need a small sample to see exactly what constitutes an CF-Convention error.

[2020-01-17 17:49] julemai commented on #183
There you go:

[Link to download](https://sendit.uwaterloo.ca/fcweb/GET/XR5HWF5WGA9EQ8ZA)

Unable to open the link? | Click on [this link](https://sendit.uwaterloo.ca/fcweb/jsp/downloadFiles.jsp)  and paste the following tracking number: XR5HWF5WGA9EQ8ZA

[2020-01-17 17:56] huard commented on #183
Note that Raven itself will be able to understand the files even if the variable names are not standard. There is a list of "alternative" variable names.

[2020-01-17 17:58] julemai commented on #183
Exactly! Also the name of dimensions is not hard-coded in RAVEN. But I understand that you need to standardize them for the spatial cropping.

[2020-01-17 18:15] Zeitsperre commented on #183
The data looks good and with David's information, we needn't worry about the variable names. I'm nearly done the workarounds necessary to support ERA5 data in xclim. I'll move to see what needs changing exactly for it in RAVEN after.

[2020-01-17 20:09] Zeitsperre commented on #183
Just ran some ERA5 data processed via the NetCDF extraction (CDSAPI) through the CEDA CF-Checker. This is what I got back:
[code]

The variable name is obviously not standard and the `_FillValue` is wrong on all coordinates but it's not as bad I imagined (the GlobalAttributes are bare, but that's fine under the conventions). If we want to try running it in RAVEN and seeing where/if it causes proce

[2020-01-17 20:28] huard commented on #183
We can later fix the metadata attributes and variable names using an NcML file.
By the way @julemai this is something that you might be interested in for your DAP server. THREDDS has support for NcML (netcdf markup language), which allows you to virtually aggregate and tweak metadata using an XML file that refers to the files on disk.

[2020-01-17 21:02] Zeitsperre commented on #183
Data is transferring now. It might take all weekend. I'll have updates on Monday.

[2020-01-20 15:33] Zeitsperre commented on #183
Data is transferred and accessible under the folder `ecmwf`.

[2020-01-20 15:33] #183 closed

[2020-01-20 15:38] huard commented on #183
Could you add the ERA5 license there too ?

[2020-01-20 16:29] Zeitsperre commented on #183
Done.

[2020-01-20 18:26] Zeitsperre commented on #187
Putting these here for (near) future reference:
* https://timothycrosley.github.io/cruft/
* https://scaraplate.readthedocs.io/

[2020-01-21 14:08] huard opened #188 "Automate creation of distributed hydrological model configurations"
Integrate functionality found in https://github.com/dustming/RoutingTool

Given a watershed, create the configuration files representing the subbasins (including lakes) and the channels routing flows.

- Create APIs to access the input data layers (DEM, land-use, lake polygons, etc)
- Create templates for the distributed configuration files (channel_properties.rvp, lakes.rvh, hrus.rvh, subbasins.r

[2020-01-21 14:14] huard opened #189 "Forecasts using GeoMET"
## Description

Run RAVEN forecasts in a deterministic and probabilistic mode using ECCC meteorological
forecasts from GeoMet WCS endpoint.

[2020-01-21 14:15] huard opened #190 "Verification metrics"
## Description

Return verification metrics and graphics.

[2020-01-21 14:18] huard opened #191 "DAP endpoint for CaSPAr"
## Description

Let users access CaSPAr data using DAP.

[2020-01-21 14:20] huard opened #192 "Hindcasts using CaSPAr"
## Description

Run Raven on CaSPAr archived forecasts (probabilistic and deterministic). Compare results with climatology-based forecast.

[2020-02-01 19:35] richardarsenault commented on #124
@huard The file @Zeitsperre provided seems to be OK to add to THREDDS. I'd need a crash course on communicating with that dataset from our Notebooks to develop some workflows.

[2020-02-02 04:50] huard commented on #124
Ok, please create a ticket with what you have in mind.

This is probably a good occasion to implement URL subsetting.

That is, you can pass an URL that includes a subsetting command, so for example, what would happen is:
- using DAP url, read file metadata
- Find the index of the site of interest
- Construct the URL to access this site only
- Pass this URL to a RAVEN process expecting a netCDF re

[2020-02-03 15:12] richardarsenault opened #193 "Add method to get CANOPEX data from Notebooks"
Following #124 we need a way to interact with CANOPEX data from notebooks.

Some examples on how to:
   1- Find the CANOPEX database from a Notebook;
   2- Extract information from CANOPEX and integrate it in a workflow;
   3- Use URL subsetting to extract the desired information;
would be required.

[2020-02-05 16:09] tlvu commented on #184
JupyterHub authentication using Magpie is done in PR https://github.com/bird-house/birdhouse-deploy/pull/16.

Just missing the integration when running notebooks.

[2020-02-12 00:24] julemai commented on #170
@dustming has revised his routing code such that it does not include any ArcGIS functions anymore- not even for the delineation. @huard, Ming would need some advise for the next steps to integrate this into PAVICS. He provided an example setup [here](https://github.com/Ouranosinc/raven/wiki/Technical-Notes#routing-toolbox). What would be a good next step?

[2020-02-12 00:45] huard commented on #170
@dustming @julemai
I *think* it would look something like this...

- In `utilities/` add the toolbox code. It should return strings with the content to be embedded in rv files.
- Include in the RV templates (raven/models) tags for the content generated by the toolbox, for example {model_channel}.
- Update rv.py to reflect the presence of these new tags.

Usage
- Use the toolbox functions to create

[2020-02-21 18:35] huard opened #195 "Support owslib 0.19.1"
## Description

[2020-02-21 23:00] huard opened #196 "Update notebooks"
## Description

- [ ] Update notebooks
- [ ] Add notebook using ERA5.
- [ ] Add notebook using NLWIS

[2020-02-21 23:01] #124 closed

[2020-03-02 23:55] richardarsenault commented on #196
@huard I have started a branch "ERA5_notebook", but I have a problem with the rain_snow_fraction and nc_spec properties for the linear transform. Is the RAVEN server running on twitcher (is that correct?) updated to reflect the latest changes? I'm kind of stuck here. Thanks

[2020-03-03 00:17] huard commented on #196
pavics.ouranos.ca runs the last release, not the master.

If you do
[code]
it will launch a jupyter notebook with environment variables set-up to connect to the local server you just started (instead of connecting by default to pavics.ouranos.ca).

[2020-03-03 00:45] richardarsenault commented on #196
For NRCAN: added test_NRCAN_daily.py to tests, code is working but assertion is not finding DIAG_NASH_SUTCLIFFE in the diagnostics output file. Looking at ERA5 it seems this is normal, but could you confirm please?

[2020-03-03 01:12] huard commented on #196
Does your input file contain an observed discharge series ? If not, then the diagnostic cannot be computed.

[2020-03-03 01:29] richardarsenault commented on #196
... Well this is awkward. Indeed, I don't. This raises the question though: Does the user have to ensure his/her Qobs data and meteo data have the exact same length? This will have to be addressed if it is the case as right now I'm basically just pulling full years of data from the OPeNDAP server on THREDDS.

[2020-03-03 01:30] julemai commented on #196
Qobs and meteo definitely dont have to be the same length. The only restriction is that the meteo meed to cover the simulation period.

[2020-03-03 01:32] richardarsenault commented on #196
OK, but can the variables each have their own time vector? Or do they have to have the same time vector and then fill with NaN/FillValues/MissingData ?

[2020-03-03 01:39] julemai commented on #196
Raven reads each time series (as long as not in a `:multidata` block) individually and cuts out the simulation period. For Q_obs missing data are filled with nodata.

[2020-03-03 01:42] richardarsenault commented on #196
OK thanks!

[2020-03-03 02:03] julemai commented on #196
If it helps, send me the 5 Raven files or point me to them. :)

[2020-03-03 02:06] richardarsenault commented on #196
OK I'll finish doing a few tests and I'll send you where I'm at. It's pretty obvious actually, we have the Qobs in the Salmon netcdf files already, I just need to extract it and merge it with the meteo data (I think)...

[2020-03-03 02:08] julemai commented on #196
Nope. You don't have to. Things don't need to be in the same NetCDF file. They can be all in different files.

[2020-03-03 02:10] richardarsenault commented on #196
Yeah I understand that in RAVEN you don't need to have them all at the same place, but I think the way it is setup (and David can and will probably correct me here) is that there is a single file that contains all the data. Not sure we allow having multiple different sources of data to send to Raven?

[2020-03-03 02:11] julemai commented on #196
All my original examples definitely had them in two different files- one for meteo and one for Qobs. And this was working.

[2020-03-03 02:12] richardarsenault commented on #196
OK well then That is why we (I) need more docs. I'll try and see how to do that then!

[2020-03-03 02:17] richardarsenault commented on #196
So I see that the Qobs are only in rvt format? Don't they need to be in .nc? I guess this aspect would be better left for @huard, he would know better than I.

[2020-03-03 02:17] julemai commented on #196
`wps_gr4j_cemaneige.py` looks like there is one filename for each input.

[2020-03-03 02:17] huard commented on #196
Both in the python wrapper and the WPS interface, you can pass a list of netCDF input files, and the code will automatically assign the correct file for each variable, as long as the variable name is understood. Now here if you passed both a NLWIS input file and the Salmon input file, there would be confusion because both files would include data for the same variables. I'm not sure what would hap

[2020-03-03 02:20] richardarsenault commented on #196
OK thanks, I'll take note of that and try to generate an independent Qobs and run the model that way.

[2020-03-03 02:22] huard commented on #196
Another option is to compute the NSE in python.
[code]

[2020-03-03 02:23] julemai commented on #196
@huard: Does this take care of missing values?

[2020-03-03 02:25] huard commented on #196
Hum, if sim and obs are pandas time series, I think it does. I'd have to check with xarray.DataArray though.

[2020-03-03 02:26] huard commented on #196
In the negative, you'd only have to take a `dropna()` before the final sum.

[2020-03-03 02:29] julemai commented on #196
I think we have several test cases where we calculate the objective with the Python function and compare it to the Raven output, don't we? I remember that I once had to fix something in Raven with the NSE calculations.

[2020-03-03 02:31] huard commented on #196
I don't think so. I think we're comparing the NSE Raven returns with the expected value you computed on your end.

[2020-03-03 02:40] julemai commented on #196
ok.

[2020-03-03 02:52] richardarsenault commented on #196
I've just added 2 notebooks (ERA5 and NRCAN) and a pytest test (WPS and python wrapper, both NRCAN). The tests pass, that's good. The notebooks fail due to the rain/snow precipitation for ERA5 and NRCAN. The rain_snow_fraction flag causes an error, and when I remove it I get the default RAVEN error of snow autogeneration flag off. @huard, could you take a look please?

[2020-03-03 03:12] richardarsenault commented on #196
Also, here is a todo list to make everything integrate well:

- [ ] Add capability and test to use custom catchment, including calling WPS to extract elevation, lat, long and area in the Notebooks

- [ ] Add Qobs from independent source

- [ ] Allow averaging data using average of data points within the basin contour instead of the nearest point as is done now

[2020-03-03 03:35] julemai commented on #196
@richardarsenault Which data points do you mean? Meteorology? There is several options in Raven to derive basin aggregates when several meteorological forcings are given. See `:Interpolation` in Raven. I think currently the options are:

- `INTERP_NEAREST_NEIGHBOR`
- `INTERP_AVERAGE_ALL`
- `INTERP_INVERSE_DISTANCE`
- `INTERP_INVERSE_DISTANCE_ELEVATION`
- `INTERP_FROM_FILE` (give weights for each t

[2020-03-03 14:04] huard commented on #196
@richardarsenault There is a typo, should read
[code]

[2020-03-03 14:59] huard opened #197 "diagnostics wps output is not empty when there is no diagnostic file"
## Description

birdy returns something in the diagnostic output, when it should return an empty file.

[2020-03-03 16:30] richardarsenault commented on #196
@huard thanks for catching that!
@julemai Yeah that is one option although I guess we need to give the catchment boundaries to RAVEN so it can compute those things from a 2D boundingbox of data? Or do we have to replace points that are outside of the polygon to NaN before the calculations are performed?

[2020-03-03 16:50] julemai commented on #196
@richardarsenault Raven does not use any shape files. You would need to preprocess this information and provide it to Raven in a `:GaugeWeightTable`. The following is copied from the RAVEN manual (around page 110):

`INTERP_FROM_FILE [filename]` - weights for each gauge at each HRU are specified in a file named `filename` with the following contents:
[code]
where `NG` is the number of gauges. The

[2020-03-03 21:00] richardarsenault commented on #196
I have progressed but need help now. @huard, I have made it so a user pushes a shapefile and the data is auto-extracted, subsetted and masked; and the basin properties (Elevation, area, centroid_lat and centroid_lon) are also auto-calculated. But I have 2 snags:

1- The masking function requires a .shp file, whereas our WPS for area/elevation/centroid calcs uses a zipped archive with the shp, shx,

[2020-03-03 22:18] julemai commented on #196
I am not entirely sure but maybe you need a 3D gridded forcing block to load these data. A block would look similar to this:
[code]

But this would need a file that defines the weights for each grid cell and its contribution to each HRU/subbasin. A grid weights file looks similar to this:
[code]

Or you aggregate the gridded inputs in a pre-processing to a single, lumped forcing. Then you don't ne

[2020-03-04 00:27] huard commented on #196
So for now I suggest we average over the grid offline, and open an issue to support weights.

[2020-03-04 00:32] richardarsenault commented on #196
OK, I can try and do that, unless you're working on it already? Also any ideas on the shapefile / zipped archive issue? Thanks!

[2020-03-04 01:55] huard commented on #196
[code]

[2020-03-04 01:58] richardarsenault commented on #196
OK got that, thanks. Also got the averaging done. now fighting some other obscure bug, hopefully get it working tonight.

[2020-03-04 02:01] huard commented on #196
Note that we're working on server side aggregation of netCDF files: one link for all years and all variables. This should simplify these notebooks. This won't be ready for production in the next two weeks, but I wanted to let you know that this is going to get easier.

[2020-03-04 02:05] richardarsenault commented on #196
OK great, thanks, because they are taking time! But it works at least for now, we just have to keep the simulations short for the time being.

I only have 1 problem left with these notebooks, maybe you can help. I'm trying to send the zipped TESTDATA["watershed_vector"] (.zip containing .shp, .shx, etc.) to a WPS to extract area, elevation, centroid, etc to feed RAVEN. However I get a weird bug th

[2020-03-04 02:06] richardarsenault commented on #196
Also I think the solution I have for extracting data and subsetting, if implemented on the server directly, should work pretty much out of the box? Can that be useful to you (plus expert optimization of course)?

[2020-03-04 02:42] huard commented on #196
One issue is that you're passing a PosixPath instance instead of a string. This is something we could support in birdy in the future, I'll open a ticket.

The other issue is I think a bug in Raven. We've never tested with zipped shapefiles. Looking into it.

[2020-03-04 02:47] julemai commented on #196
What's the Raven error? I kinda lost track. Let me know if I need to fix something....

[2020-03-04 02:48] huard opened #198 "Support zipped shapefiles in wps_generic_shape_properties"
## Description

The current implementation chokes on a shapefile sent within a zipfile.

[2020-03-04 02:48] huard commented on #196
https://github.com/Ouranosinc/raven/issues/198

[2020-03-04 02:49] huard commented on #196
So no, this is something Trevor will have to look at. Should be simple though.

[2020-03-04 20:50] #198 closed

[2020-03-05 17:33] richardarsenault commented on #90
@huard I think we can close this one based on the recent notebooks?

[2020-03-05 18:41] huard commented on #90
Let's merge the notebooks first and link the PR to this issue.

[2020-03-09 18:42] huard opened #201 "Parameterize evaporation scheme from interface"
## Description

HBV-EC uses `PET_FROMMONTHLY` as the PET scheme, but this requires computing monthly mean evap and tas values. This is complicated when the inputs do not include evap.

The python interface should support the selection of an evaporation scheme, similar to what has been done for the rain snow partitioning.

[2020-03-09 20:27] huard opened #203 "In Travis-CI, split the notebooks validation from the tests."
## Description

I'm willing to merge changes where notebooks fail if all unit tests pass.

We'll confirm notebooks all pass before a release, but for the moment it's time consuming to update all notebooks.

[2020-03-09 21:47] #203 closed

[2020-03-10 00:28] huard opened #205 "Add time to time units to CANOPEX data"
## Description

Raven needs time units in the `days since 1950-01-01`.

We need to do
[code]
to `Watersheds_5797_cfcompliant.nc`.

[2020-03-10 00:30] huard opened #206 "Load CANOPEX shapefile to GeoServer"
## Description

Store CANOPEX shapefile to GeoServer.

[2020-03-10 01:38] #201 closed

[2020-03-10 17:09] #195 closed

[2020-03-10 17:10] #184 closed

[2020-03-10 17:10] #196 closed

[2020-03-10 19:19] Zeitsperre commented on #206
@huard our prod server or testing server? both?

[2020-03-10 19:26] huard commented on #206
prod

[2020-03-10 19:39] Zeitsperre commented on #206
Done. The name of the layer on the WFS is `public:CANOPEX_5797_basinBoundaries`.

[2020-03-10 19:59] huard commented on #206
Thanks ! I've got something else for you ; )

[2020-03-10 19:59] #206 closed

[2020-03-10 20:01] Zeitsperre commented on #206
Hit me. I'm game : )

[2020-03-10 20:02] huard opened #208 "Get Canopex watershed from lat-lon"
## Description

There is a canopex notebook that fetches an abritrary watershed in the netCDF and runs Raven with it. We want to be able to specify a lat-lon, identify the watershed it belongs using the shapefile hosted on GeoServer, then get the associated series from the netCDF.

[2020-03-10 20:25] Zeitsperre commented on #208
Sounds like a I can piggy-back on some existing notebooks to get this moving. What's the level of urgency on this?

[2020-03-10 20:47] Zeitsperre commented on #205
@huard Am I correct in assuming that the original can be overwritten/destroyed?

[2020-03-10 20:58] huard commented on #208
No urgency.

[2020-03-10 20:59] huard commented on #205
I would say *modified in place*.

[2020-03-10 21:16] Zeitsperre commented on #205
I suppose that's a fine way of saying it as well. Certainly nicer-sounding.

In any case, the _modified_ file is now available.

[2020-03-10 21:36] Zeitsperre commented on #208
Okay. I'll keep it in my to-do list for now. Earliest I can tackle this would be later next week.

[2020-03-11 14:52] #205 closed

[2020-03-11 20:17] huard opened #209 "Add :DontWriteWatershedStorage parameter"
## Description

Assign by default to calibration runs.

[2020-03-12 00:45] richardarsenault opened #210 "Improve error handling for RAVEN and OSTRICH processes"
RAVEN and OSTRICH often indicate why an error happens in their respective log files. However, a user using a notebook through the production server does not have access to those logs. Ideally we can catch errors, parse the logs and return the error message to the user when that situation happens. That way users can correct their error/data instead of being stuck in limbo wondering why the process

[2020-03-12 00:48] richardarsenault opened #211 "Add NcML capability to some climate model data"
Right now, the climate data must be called file by file, year by year, to create a multi-year time series. It would be great to quickly have access to 1 or 2 models using the NcML method as was done for ERA5 and NRCAN, so we can test full process integration including running a model with post-processed climate data to see the impacts of climate change.

Ideally, the model/data should have both th

[2020-03-12 00:51] richardarsenault opened #212 "Add nearest-neighbor method to netcdf subsetting"
One problem we face is that of small catchments whose polygons fall between climate model grid points. Our current codes take the average of all grid points within a catchment boundary as the climate data time series. This will fail for catchments with 0 points (return empty array). We need to catch this and revert to a plan B, either the average of the 4 bounding points (4 closest points to the c

[2020-03-12 00:54] richardarsenault opened #213 "Add climate/streamflow netcdf checker"
The idea is that users can submit their own netcdf files with streamflow and/or climate data to run RAVEN and OSTRICH. However, the user should be able to call a WPS that will check the files to ensure that all data, units, time, variables, etc. are present and pass minimal quality checks. We could depend on that to (1) be a first source of conflict resolution for the user and (2) a simple method

[2020-03-12 13:01] huard commented on #212
For nearest neighbour, you could use finch.subset_gridpoint.
For averaging over an area, this is still a WIP.

[2020-03-12 13:02] huard commented on #213
This would be specific to Raven ? Like, would this file be ok to run raven with ?

[2020-03-12 13:02] tlogan2000 commented on #211
Should be no problem
Questions :

- Are we wanting bias-corrected data?

- Do we have a spatial domain needed for Raven?  Can we limit to Quebec / Eastern Canada ?

[2020-03-12 13:16] richardarsenault commented on #213
Yes, for RAVEN, and maybe we could also have them separate like one process to verify if a nc file has OK streamflow data and another to see if met data is OK. That way a user could either submit different files for each process, or the same file to both processes (if Qobs and Meteo are in the same file). Then we could also use it to check for problems for analysis and distributions (detect proble

[2020-03-12 13:19] richardarsenault commented on #211
I think the data should not be bias corrected, but instead we should offer bias correction methods to process the raw data.

For the regional aspect, Ideally North America (CAN/USA) as we will have users from the US as well. Are the data on THREDDS already subsetted to Quebec/Canada? if yes then for now we'll have to go with that I guess, if not I'd simply link the existing files?

[2020-03-12 13:20] richardarsenault commented on #212
OK so for now we can use the local "salem" roi process for larger catchments, and revert to finch.subset_gridpoint if there are no points. Make sense?

[2020-03-12 13:48] huard commented on #212
Yes, but working on a flyingpigeon process to return the average over a shapefile, which I think will be robust to the situation you're pointing out.

[2020-03-12 14:08] richardarsenault commented on #212
Yes exactly, good. Keep me posted when that process is implemented so we can switch from salem to FP.

[2020-03-13 04:31] richardarsenault opened #214 "Add GLHYMPS porosity and permeability maps to Geoserver"
Add 2 maps for catchment metadata to Geoserver: Porosity and Permeability.
Write WPS to extract data through a process

[2020-03-13 19:48] richardarsenault commented on #168
It would seem that adding the :DontWriteWatershedStorage and :SupressOutputs tags significantly accelerates the calibration speed, which would make this point much less important.

[2020-03-17 17:27] richardarsenault opened #215 "ERA5 precipitation seems off in Notebooks"
Precipitation is extremely small in ERA5, with streamflow values essentially always tapering off to 0. Linear_transform has been set correctly, perhaps a problem with the hourly-->daily transform? Is precip being summed or averaged?

[2020-03-17 17:49] huard opened #216 "NcML for climate simulation"
## Description

NcML for a historical and future climate model simulations.

[2020-03-17 18:11] huard opened #217 "Notebook demoing access to hydroclimatic atlas simulations"
## Description

[2020-03-17 20:55] #209 closed

[2020-03-18 16:05] Zeitsperre commented on #215
I know that with ERA5-land, precipitation is summed over hours and reset back to zero after 12 AM every day. This isn't the case for ERA5 precipitation. For more info: https://confluence.ecmwf.int/display/CKB/ERA5%3A+data+documentation

[2020-03-18 16:11] Zeitsperre commented on #215
On the point of instantaneous or accumulated variables: https://confluence.ecmwf.int/display/CKB/ERA5%3A+data+documentation#ERA5:datadocumentation-Meanratesandaccumulations

[2020-03-18 18:52] richardarsenault opened #219 "Ostrich process hangs for larger calibrations"
Ostrich seems to hang if we ask for larger number of model evaluations. Ex:

Calibrating on 100 model evaluations = 38 seconds.
Calibrating on 1000 model evaluations = 440 seconds.
Calibrating on 10000 model evaluations = Was still incomplete (no error, just running) after 16 hours.

This leads me to believe there is some sort of config limiting the duration of processes maybe? a sort of timeout?

[2020-03-18 19:12] huard commented on #219
Are you using `progress=True` ?

[2020-03-18 19:12] huard commented on #219
[code]

[2020-03-18 19:13] huard commented on #219
This should be better documented in our docs.

[2020-03-18 19:15] richardarsenault commented on #219
Hmmm I thought I did in all my notebooks, turns out this one did not. I'll relaunch with a larger size and keep you posted. Thanks!

[2020-03-18 19:21] richardarsenault commented on #219
I just get this error in the notebook when I try to run the process with Progress=True:

The save operation succeeded, but the notebook does not appear to be valid. The validation error was:

Notebook validation failed: {'version_major': 2, 'version_minor': 0, 'model_id': '817877db674542ad8586f18de20711ba'} is not valid under any of the given schemas:
{
 "version_major": 2,
 "version_minor": 0,
 "

[2020-03-19 12:20] richardarsenault commented on #219
After running the code on the Ouranos JupyterLab instance (on pavics.ouranos.ca/jupyter) with progress=True, OSTRICH does the same thing where it does not crash but has been running for over 12 hours and still no response whereas I expected the code to take ~1h20 mins.

[2020-03-19 12:56] huard commented on #219
Ok. Could you confirm that if you run Raven on your own machine (from the terminal, no python wrapper or wps server), it works.

[2020-03-19 14:16] julemai commented on #219
Hi @huard. I was testing Richard's setup on my machine. For a 4747-day simulation with different budgets for OSTRICH took:

budget 100 iterations: 10s
budget 1000 iterations: 78s
budget 10000 iterations: ~8348s (still running; estimate based on Progress-file; will update when it's done)

I will contact Shawn Matott (developer of Ostrich) if he has an idea why runtime is not linear.

[2020-03-19 14:48] richardarsenault commented on #219
OK, glad to see I'm not going crazy. thanks for the info!

[2020-03-19 14:50] julemai commented on #219
Yeah, I'm sorry about that. I normally don't use such large budgets and never realized. I am guessing that it has something to do with the increased memory allocation of Ostrich to hold all the statistics etc of the previous runs. But let's seee what Shawn says. Just sent out the email with the runtime stats and the example setup. :)

[2020-03-20 15:06] Zeitsperre opened #220 "ReadTheDocs builds are failling"
See: https://readthedocs.org/projects/pavics-raven/builds/

It appears that the Raven RtD builds have been failing due to memory consumption errors for the past month. This appears to be affecting not Raven but other PAVICS birds that are built using the Anaconda image on RtD. Error output is not very helpful:
[code]
I am currently trying to figure this out for https://github.com/bird-house/flying

[2020-03-20 15:12] tlvu commented on #220
Might want to ping the RtD dev like I did here previously https://github.com/readthedocs/readthedocs.org/issues/5847#issuecomment-519198831

[2020-03-20 15:17] tlvu commented on #220
Also, does anyone of us receive notification when RtD build fail?  We can not react if we don't know about.

[2020-03-20 15:18] Zeitsperre commented on #220
No. I don't mind having them sent to me. I just need to beset as co-maintainer for them on RtD.

[2020-03-20 18:29] tlvu commented on #220
Same RtD issue observed here https://github.com/bird-house/flyingpigeon/issues/318

[2020-03-20 20:05] huard opened #222 "Update Raven to rev 251"
## Description

- New version of Raven allowing for YYYY-MM-DD time units, assuming 00:00:00.
- Bug fix to PET_OUDIN, expect changes to outputs

[2020-03-25 18:21] Zeitsperre commented on #220
Reopening this issue since new errors have appeared as of yesterday. Now it is verbosely complaining of memory limitations. No changes were performed on the `environment.yml` with #221 after getting successive build passes. Really frustrating.

[2020-03-25 18:22] Zeitsperre commented on #220
For more information: https://readthedocs.org/projects/pavics-raven/builds/

[2020-03-26 15:56] tlvu commented on #220
@huard @Zeitsperre Just to be sure we can proactively catch those errors in the future, when RtD build fail, is anyone of us getting any sort of notifications?  I am not getting anything.

[2020-03-26 17:38] huard commented on #220
You're a maintainer on pavics-raven, so can add your email in the notifications. I've just added Trevor and myself.

[2020-03-26 21:07] huard commented on #216
See https://pavics.ouranos.ca/twitcher/ows/proxy/thredds/catalog/datasets/simulations/cmip5/atmos/catalog.html?dataset=datasets/simulations/cmip5/atmos/day_MPI-ESM-LR_historical.ncml

@richardarsenault please confirm this is what you were looking for.
Future simulation coming up.

[2020-03-26 22:39] tlvu commented on #220
Oh geez, I thought notification would have been automatically activated for maintainers !

By the way @Zeitsperre is there a trace that the `stable` image worked so we can show to the RtD dev?

[2020-03-27 02:51] richardarsenault commented on #216
@huard yes, that EXACTLY. It's perfect, thanks. Even includes 3 members, which is even better. Can't wait to get the future one and a Bias correction method :)

[2020-03-27 19:02] Zeitsperre commented on #220
@tlvu Yes, in the build history for `fix_220`, you can clearly see that the builds were good on Wednesday and broken on Thursday. As I said, there were no changes to the code. Is ti possible that they lowered the amount of memory allocated to their VMs? Even then, we aren't installing all that much to be build the docs. Weird.

[2020-03-30 14:03] huard commented on #216
We'll close when the future simulation is available.

[2020-03-30 14:03] Zeitsperre commented on #216
Ah, good point. My bad!

[2020-03-30 14:50] Zeitsperre commented on #214
@richardarsenault Do you have a link to these layers or do we need to look into options?

[2020-03-30 15:14] richardarsenault commented on #214
Hi, yes here's a (time-sensitive) link: https://www.dropbox.com/transfer/AAAAAEHGEyuXY6_ogcWoo6wcn_4Jvdf9na4M8xVCiOaSePn6dB6UbVI

Thanks!

[2020-03-30 15:20] Zeitsperre commented on #214
@richardarsenault If you can keep that link active until tonight, I can upload the files to our GeoServer in the next day. Collecting it via process will take a bit more time.

[2020-03-30 15:49] Zeitsperre commented on #212
@richardarsenault I would be careful with building too much based off of `salem`. It doesn't seem to receive too many updates and the dependencies are quit out of date (to the point that it doesn't jive with `xclim` anymore). Would you be open to different tools?

[2020-03-30 15:53] richardarsenault commented on #212
Yes absolutely, actually I think the idea is that the subsetting will eventually be part of Finch? so that would basically supersede Salem

[2020-03-30 15:57] Zeitsperre commented on #213
Does https://github.com/cedadev/cf-checker evaluate hydrological parameters? I imagine it does.

[2020-03-30 16:13] tlvu commented on #212
On the Jupyter env, `salem` has forced pinning much older version of `pandas` and `geopandas` https://github.com/Ouranosinc/PAVICS-e2e-workflow-tests/blob/0ffbd16b334e6628a19befd3c380c67b873e96eb/docker/environment.yml#L20-L23

[2020-03-30 16:15] richardarsenault commented on #212
I have zero attachment to Salem, only to do the demo I needed something and it was the first I could get to work. If we can replace it by something more modern I'd be more than happy!

[2020-03-30 18:05] huard commented on #213
@Zeitsperre So there would be two part to this:
1. Generic feedback on CF-compliance (could be existing cf-checker)
2. Raven specific-checks (checks that required variables are present)

So could start with adding https://github.com/bird-house/hummingbird/blob/master/hummingbird/processes/wps_hdh_cfchecker.py to raven and write a hook into it for us to add custom checks.

[2020-03-30 18:25] Zeitsperre commented on #213
@huard Thanks for the clarification. Are you saying I should port that process to Raven or is there a hummingbird instance somewhere on prod that we can leverage?

[2020-03-30 18:34] huard commented on #213
I'm not sure. I think hummingbird is running already in prod. So we probably don't want to duplicate that. I think we need to clarify expectations for this functionality before anything else.

[2020-03-30 21:06] #220 closed

[2020-04-02 16:17] Zeitsperre opened #225 "Fix failing notebooks"
## Description
Notebooks are presently broken due to an error in PyWPS that has been addressed in master (https://github.com/geopython/pywps/issues/528, https://github.com/geopython/pywps/pull/529). Notebooks need to be re-examined once a new PyWPS is available that has these fixes integrated.

## Additional Information
#223

[2020-04-03 20:20] huard commented on #216
https://pavics.ouranos.ca/twitcher/ows/proxy/thredds/catalog/datasets/simulations/cmip5/atmos/catalog.html

[2020-04-03 20:20] #216 closed

[2020-04-03 20:21] #211 closed

[2020-04-14 21:47] huard opened #226 "Split project into ravenpy and the WPS server"
## Description

The python wrapper should be extracted from this repo and live in its own repo.
This repo would only contain WPS services.

[2020-04-14 21:50] huard commented on #225
@Zeitsperre Another option would be to make birdy less rigid. It could tolerate that the inferred mime type does not match supported mime types. This could be done on a short time-scale.

[2020-04-14 21:53] julemai commented on #226
Talked to the CSHS folks. We can get for sure a project there: https://github.com/CSHS-CWRA

I will just need to tell them from which GitHub to import. Or if they should just create an empty one with a licence (do you prefer one?) and a name (RavenPy?!).

[2020-04-15 01:22] huard commented on #226
An empty one will do. MIT license. ravenpy. And permissions to maintain the repo.

[2020-04-15 13:36] huard opened #227 "WP1 Distributed model configuration"

[2020-04-15 13:36] huard opened #228 "WP2 Advanced forecasting"

[2020-04-15 13:38] huard opened #229 "WP3 ECCC forecasting"

[2020-04-15 13:38] huard opened #230 "WP4 Forecast diagnostics"

[2020-04-15 13:38] huard opened #231 "WP5 Flood frequency analysis"

[2020-04-15 13:39] huard opened #232 "WP6 Notebook toolkit"

[2020-04-15 13:39] huard opened #233 "WP7 Training material"

[2020-04-15 20:33] huard opened #234 "WP0 General maintenance"

[2020-04-17 18:28] julemai commented on #226
I've created the new project `RavenPy` under CSHS. I just became the admin of the whole CSHS GitHub.

I gave @dustming and @richardarsenault write permissions and @huard admin permissions. Let me know whom else you'd like to have added. For now it is private but I can make it also public if you'd like to.

[2020-04-17 18:33] huard commented on #226
Thanks! Please make it public, otherwise release could be difficult.

[2020-04-17 18:35] julemai commented on #226
Done!

[2020-04-20 13:44] huard opened #235 "WPS for running streamflow hindcast ensembles using RAVEN"
Hindcasts are provided by Caspar. At the moment, a manuel request can be made to get Caspar data, which produces a globus collection that can then be transferred using the globus client.

We could use climpred to organize the hindcasts.

[2020-04-20 13:45] huard opened #236 "WPS for climatology-based ensemble streamflow predictions"
TODO: Define API

[2020-04-20 13:46] huard opened #237 "WPS for ensemble streamflow hindcasting uncertainty"
TODO: Define API

[2020-04-20 13:46] huard opened #238 "WPS generating figures and graphics for hydrological hindcasts"

[2020-04-20 13:48] huard opened #239 "CaSPAr notebook"
## Description

Notebook accesses CaSPAr data through DAP and displays the time series for the ensemble forecasts.

[2020-04-20 13:49] huard opened #240 "Advanced forecasting notebook"
## Description

Notebook runs RAVEN through WPS in probabilistic and deterministic forecast mode and displays results in graphics, then compares results with a climatology-based ensemble forecast.

[2020-04-20 13:55] huard opened #241 "Notebook accesses HydroLAKES data on user-selected watershed from PAVICS’ GeoServer through WPS"

[2020-04-20 13:56] huard opened #242 "Notebook creates distributed RAVEN configuration files on user-selected watershed and launches model simulation."

[2020-04-20 13:57] huard opened #243 "GeoServer - Store high-resolution HydroLAKES routing data"

[2020-04-20 14:01] huard opened #244 "WPS process to extract data from HydroLakes"

[2020-04-20 14:03] huard opened #245 "WPS for querying ECCC weather forecasts through the GeoMET WPS service for the watershed of interest."
## Description

[2020-04-20 14:04] huard opened #246 "Initial state estimation based on warm-up hindcast experiment."
## Description

Describe what you were trying to get done or your feature request.

## Environment

* Raven version used, if any:
* Python version, if any:
* Operating System:

## Steps to Reproduce

[code]

## Additional Information

Links to other issues or sources.

[2020-04-20 14:04] huard opened #247 "Notebook runs RAVEN forecasts in a deterministic and probabilistic mode using ECCC meteorological forecasts from GeoMet WCS endpoint"
@huard : @richardarsenault has edited the top comment to provide a description.

What we would like to do is to generate streamflow forecasts using the GeoMet-Weather WCS endpoint to gather the required forecast forcing variables to drive the raven hydrological model.

So the process would be as follows:

1- Select a forecast issue date and time (when you want the forecast to start)
2- Indicate th

[2020-04-20 14:05] huard opened #248 "Notebook computes verification metrics through WPS on a climatology-based forecast and displays graphic results."

[2020-04-20 14:05] huard opened #249 "Notebook computes design flood for a user-defined site through WPS and compares with probabilistic flood risk from forecast results."

[2020-04-20 14:06] huard opened #250 "User interaction notebook demo"
## Description

Notebook selects watershed from Ipyleaflet WFS plugin accessing GeoServer layer, selects weather data set
from THREDDS server using JupyterLab extension, runs RAVEN using an input form and displays the results
as interactive plotly graphic.

## Environment

* Raven version used, if any:
* Python version, if any:
* Operating System:

## Steps to Reproduce

[code]

## Additional Info

[2020-04-20 14:08] huard opened #251 "Raven training notebooks can be executed smoothly on platform by 25 concurrent users."
## Description

Describe what you were trying to get done or your feature request.

## Environment

* Raven version used, if any:
* Python version, if any:
* Operating System:

## Steps to Reproduce

[code]

## Additional Information

Links to other issues or sources.

[2020-04-20 21:55] huard opened #252 "Improve plotly support for the type of figures generated by the platform’s processes"
## Description

Some of the figures Raven is generating cannot be exported using plotly (e.g. twin axes).

[2020-04-20 22:10] huard opened #253 "WPS for custom flood risk assessment and frequency analysis for real-time flood forecasts"
## Description

Describe what you were trying to get done or your feature request.

## Environment

* Raven version used, if any:
* Python version, if any:
* Operating System:

## Steps to Reproduce

[code]

## Additional Information

Links to other issues or sources.

[2020-04-21 13:50] huard opened #254 "WPS wrapping of forecast verification algorithms (e.g. XSkillScore) with support for deterministic and probabilistic forecasts for a particular forecast date"
## Description

Describe what you were trying to get done or your feature request.

## Environment

* Raven version used, if any:
* Python version, if any:
* Operating System:

## Steps to Reproduce

[code]

## Additional Information

Links to other issues or sources.

[2020-04-21 13:51] huard opened #255 "WPS wrapping of algorithms to evaluate long-term forecasting ability (multi-year statistics)"
## Description

Describe what you were trying to get done or your feature request.

## Environment

* Raven version used, if any:
* Python version, if any:
* Operating System:

## Steps to Reproduce

[code]

## Additional Information

Links to other issues or sources.

[2020-04-21 13:54] huard opened #256 "WPS graphical representation of forecast skill (reliability, dispersion, accuracy, etc.)"
## Description

Describe what you were trying to get done or your feature request.

## Environment

* Raven version used, if any:
* Python version, if any:
* Operating System:

## Steps to Reproduce

[code]

## Additional Information

Links to other issues or sources.

[2020-04-26 14:05] richardarsenault commented on #236
@huard I have started a branch "climatologyESP" to do the climatology-based ESP and I hit a snag:

- test_wps_climatology_esp.py I call the WPS and you can submit one (and only one) hydrological model and send it's parameters as well. This is a string of comma-separated parameters (params).
-wps_climatology_esp receives a model_name and params. In that WPS, I instantiate the model with the get_mod

[2020-04-26 18:33] richardarsenault commented on #219
Follow-up: It would seem that the process hanging also affects other birds that demand long run times.

[2020-04-26 20:08] richardarsenault commented on #245
Self info:

WCS for netcdf example link:
https://geo.weather.gc.ca/geomet?SERVICE=WCS&VERSION=2.0.1&REQUEST=GetCoverage&COVERAGEID=RDPA.24F_PR&SUBSETTINGCRS=EPSG:4326&SUBSET=x(-180,56.25000000000001)&SUBSET=y(12.211180191503997,85.70184378613162)&FORMAT=image/netcdf&TIME=2020-03-10T12:00:00Z

 - Replace COVERAGEID with the product (RDPS/GDPS)
 - Probably want to change the 12Z to 6Z for Canada, if

[2020-04-26 20:55] richardarsenault commented on #245
Variables description from: https://directory.spatineo.com/service/12371/

ETA_PR --> Precip accum [kg/(m^2)]
ETA_RN --> Rain accum [kg/(m^2)]
ETA_SN --> Snow accum [kg/(m^2)]
ETA_TT --> Air temperature [°C]

[2020-04-27 01:48] richardarsenault commented on #245
@huard I have started the WPS process and test suite but there seems to be an intrinsic limitation in GeoMet:

"Note that queries with time ranges or multiple time values are not currently supported on GeoMet for both TIME or DIM_REFERENCE_TIME parameters. Only single time queries are supported."

What I gather from this is that we can only download one forecast step at a time... not super useful

[2020-04-27 21:49] richardarsenault commented on #236
@julemai Hi, could you look at this and tell me what is not working? I get a weird message when I try to run the model:

terminate called after throwing an instance of 'std::out_of_range'
  what():  basic_string::substr: __pos (which is 24) > this->size() (which is 22)

        **************************************************************
        Path : /tmp/tmp_6mqoh0a/exec/model/p00
        ***

[2020-04-27 22:03] julemai commented on #236
@richardarsenault I'd need the "climatologyESP.nc". It only exists as a link in the folder.

[2020-04-27 22:04] julemai commented on #236
It should be under `/tmp/tmp7uw0koro/climatologyESP.nc`?!

[2020-04-27 22:07] richardarsenault commented on #236
Opps! There you go! sorry, not used to symbolic links like that!

[climatologyESP.nc.zip](https://github.com/Ouranosinc/raven/files/4542225/climatologyESP.nc.zip)

[2020-04-27 22:09] julemai commented on #236
Runs like a charm on my end.

[2020-04-27 22:26] julemai commented on #236
BTW, there shouldn't be a `StationIdx` be required if the variable read in only contains one dimension (i.e., time)

[2020-04-27 23:32] richardarsenault commented on #236
Hmmm So I still get an error even when running Raven from CLI:
============================================================
                        RAVEN
 a robust semi-distributed hydrological modelling framework
    Copyright 2008-2020, the Raven Development Team
                    Version 2.9.2 w/ netCDF
                BuildDate Mar 13 2020
====================================================

[2020-04-27 23:41] julemai commented on #236
Yep. You must still be using rev240.

The newer rev245 already give you a better error message and the rev250 and rev251 resolved it completely.

[2020-04-27 23:44] richardarsenault commented on #236
OK then that must be it... So quick question then: Can I do a "Make raven_dev" but somehow tell git not to track these changes as there will probably be quite a few...?

[2020-04-28 02:06] richardarsenault commented on #236
@huard I've updated to raven build 251 and get this error now:

And it runs on @julemai 's v251, so there must be something else. Any ideas?

[2020-04-28 12:19] richardarsenault commented on #222
Revision 254 now out, I suggest we go to that one directly to incorporate the more efficient raven implementation.

[2020-04-28 15:00] huard commented on #235
@julemai

When we'll want to concatenate hindcasts starting on different days, we'll want to have two types of `time` variables:
- the actual time of the forecast
- the *leadtime* from the `forecast_reference_time`

At the moment, the Caspar netcdf files only contain `time`, which I understand plays both roles. If I want to concatenate two forecasts from two different days, I'll need to differenti

[2020-04-28 15:12] julemai commented on #235
The time variable in the current NetCDF files is the _leadtime_. We do store all issues (actual time of forecast) in separate files (seen from filename and reference date in unit of time variable) to first avoid the necessity of two time variables and to avoid the merging of files on CaSPAr.

The files come in at each issue date/time and the products change. We don't want to carry all in one file

[2020-04-28 16:48] huard commented on #235
Ok thanks !

[2020-04-28 18:25] richardarsenault commented on #236
Update: This problem is fixed, continuing development.

[2020-04-29 01:00] richardarsenault commented on #37
@huard not sure this should be a WPS, I Think a notebook would be more appropriate, and we basically have that now? Should we close this?

[2020-04-29 01:34] #37 closed

[2020-04-29 01:49] richardarsenault commented on #145
@julemai @huard : This can also be spotted in the test_emulators.py test, line 359 in HMETS_OST. It has not been resolved.

[2020-04-29 02:01] julemai commented on #145
I can have a look tomorrow. Which branch are you working in?

[2020-04-29 02:01] richardarsenault commented on #225
Does this relate to the use of Salem and it failing in "gridded_data_subset.ipynb"?

[2020-04-29 02:04] richardarsenault commented on #215
Thanks, I see that ERA5 has hourly precip that must be summed, but I am wondering if that is the way Raven handles hourly to daily precip because the streamflow values are way too low with ERA5 vs the others, like an order of magnitude or more lower. @julemai  any thoughts?

[2020-04-29 02:06] richardarsenault commented on #145
You can look at branch fix-222, test_emulators.py in HMETS_OST. Thanks!

[2020-04-29 02:09] julemai commented on #215
I am guessing ERA is in UTC time. Is there a time shift used for the NetCDF variables? And maybe a unit conversion? Raven does take in subdaily inputs and automatically aggregates them to the simulation time step.

I could have a look tomorrow. Could you direct me to the specific notebook and outputs that are different?

[2020-04-29 02:23] huard commented on #247
See https://github.com/ECCC-CCCS/geomet-climate/issues/36

[2020-04-29 02:23] richardarsenault commented on #215
Yes I am pretty sure we use the time shift for ERA5. Actually I was wondering how Raven agregates precipitation, for example ERA5 precipitation is cumulative over 24h (so it's a 24-step cumsum function that resets to 0 each midnight) and ERA5 is actual precip per hour. So I am guessing one of the two will crash if Raven doesn't know which it is being fed!

Problem with notebooks is that the ones u

[2020-04-29 02:27] julemai commented on #215
Raven has an option to deaccumulate forcings but it would expect that it accumulates for the whole time series and not only from midnight to midnight.

[2020-04-29 02:28] julemai commented on #215
Let me know when there is a branch I can checkout and look into.

[2020-04-29 12:35] richardarsenault opened #261 "WPS to perform generic forecasts from forecast weather data and initial model states."
This WPS should take as inputs:

- initial hydrologic states (probably from the storage files but how to use them in hot-starting the model remains to be seen);
- forecast data as a netcdf with N-days x M-members for the required variables;
- model name and parameters
- other configuration tags such as linear transforms and time shifts, PET formulation, rain-snow split, latitude and elevation, etc

[2020-04-29 12:36] richardarsenault commented on #261
@julemai do you have a good idea on how to use a previous run's storage files to hot-start another run?

[2020-04-29 13:21] julemai commented on #261
Raven is writing an output file `solutions.rvc`. This contains all the states of the last time step. Replace the current, for example, `raven-hmets.rvc` with the `solutions.rvc` and you will be able to start with the states you finished with.

[2020-04-29 13:36] richardarsenault commented on #261
@huard Could you look into this, how we can manage to do this without breaking the current setup of "when run Raven --> setup rv files" by substituting another one from a previous run?

[2020-04-29 17:24] julemai commented on #145
Just a quick update. I am looking into this since quite a while now. My best guess is that the derived parameters are not correctly handled.

I (again) don't know how to access the actual run folders on my Mac when a test is failing. Any idea how I do that. I run `make test` in my terminal.

[2020-04-29 17:28] julemai commented on #145
One thing I already found is that in `emulators.py` the following need to be adjusted:
[code]
instead of using:
[code]
because some derived parameters are already derived in `model.optimized_parameters` while others aren't.

[2020-04-29 17:44] julemai commented on #145
The `calibrated_params` of MOHYSE does not contain the 2 calibrated HRU values... So, the test for MOHYSE fails.

[2020-04-29 18:22] julemai commented on #145
All tests except one are now working. :)

@huard : The error I am getting for `tests/test_emulators.py::TestMOHYSE_OST::test_simple` is the following:
[code]
This is due to the fact that the two calibrated HRU values (`para_x09` and `para_x10`) are not part of `params=model.calibrated_params`. I have no idea how to fix this. I've made all my fixes in `fix-222`.

[2020-04-29 19:07] huard commented on #145
On it.

[2020-04-29 19:25] huard commented on #145
Done.

[2020-04-29 19:52] julemai commented on #145
Some other MOHYSE related tests are now failing. I can look into this if you want @huard.

[2020-04-29 20:00] huard commented on #261
1. Quick and dirty option: write a method that replaces the rvc file or template by the solution file.
2. Elaborate option: template initial values in emulators, parse the solution and feed the parameters to the template.

Option 2. will let also users specify initial conditions in general, which is currently not possible.

[2020-04-29 20:06] richardarsenault commented on #261
Option 2 will enable data assimilation, a huge part of future forecasting endeavors. So i would propose that if it's not TOO bad. Thanks Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: David Huard <notifications@github.com> Date: 2020-04-29  16:01  (GMT-05:00) To: Ouranosinc/raven <raven@noreply.github.com> Cc: richardarsenault <richard.arsenault@etsmtl.ca>, Author

[2020-04-29 20:10] julemai commented on #261
I am usually not using the RVC file. I don't know how often this is changing with revisions of Raven and between different model setups. This is something we will need to keep in mind when using templates.

But definitely sounds fancy!

[2020-04-29 20:23] huard commented on #145
Darn, I forgot those. It's probably just a matter of removing references in the test files to hrus and appending the hru parameters at the end of the params.

[2020-04-29 20:25] julemai commented on #145
Yeah, all three complain about the same:
[code]

[2020-04-29 20:53] julemai commented on #145
Hang on! I think I fixed all of them...

[2020-04-29 20:55] julemai commented on #145
Done. All tests pass.

[2020-04-29 21:00] huard commented on #261
I realized that it was probably good to have 1 anyway, so started with this, and wondering how numerically close should we expect results to be when restarting a run from a final state ?
I get differences of about .1%

[2020-04-29 21:11] richardarsenault commented on #261
Hmmm it should be exactly the same, it's basically the same run that continues. Maybe an issue with the date of the initialization (i.e. sometimes its taken at midnight (early same day) or midnight (late that day after the sim)... probably have to compare to a longer run to see exactly when the cutoff occurs

[2020-04-29 21:13] julemai commented on #261
It should be exactly the same.

[2020-04-29 21:28] richardarsenault commented on #261
Is the rvc file the only one that has information across time steps? Does the solution file or the rv output have other info that is required?

[2020-04-29 21:35] julemai commented on #261
This is all the documentation says:
[code]

I already texted James but he's not online.

[2020-04-29 23:50] julemai commented on #261
Talked to James. He says that it should be the same but it might be that he is not printing enough digits of some variables to the RVC. He needs to see it. @huard Could you send James the setup you are using?! Including all the data such that he can have a look. But James already said that he can't promise a quick turn-around this week.

[2020-04-29 23:52] julemai commented on #215
I am getting closer to this. I will likely dig deeper into this tomorrow. I might just properly implement `add_offset` and `scale_factor` into Raven. It is definitely a missing feature.

[2020-04-29 23:59] richardarsenault commented on #247
Great! Should we also ask them for the option of having multiple forecast timesteps at the same time? Is that the right forum?

[2020-04-30 00:11] richardarsenault commented on #21
@julemai Is this somethig that we could implement relatively fast? If the method is in PAVICS I can relatively easily wrap it in a WPS and build the test suite.

[2020-04-30 00:12] richardarsenault commented on #36
@huard I think this is not going to be used moving forward, I suggest we close this issue.

[2020-04-30 00:12] richardarsenault commented on #83
@huard Going throug all issues and I have no idea what to do with this one. Thoughts?

[2020-04-30 00:13] julemai commented on #21
It is already in PAVICS. I just don't understand how it works. And PAVICS should have to deal with this but RAVEN needs to. Shouldn't take too long. I just need a fresh mind and a coffee next to me.

[2020-04-30 00:13] richardarsenault commented on #90
I think our notebooks for ERA5/NRCan/Canopex are robust enough now to close this issue

[2020-04-30 00:15] richardarsenault commented on #21
OK! If you point me to the location and inputs required I can also give it a shot.

[2020-04-30 00:16] richardarsenault commented on #21
For example, do you absolutely need it to be an ascii file or could we pass the parameters and their ranges and variance as inputs to the function?

[2020-04-30 00:20] richardarsenault commented on #137
This has been fixed by #222 with the mohyse parameters and HRUs being concatenated.

[2020-04-30 00:20] #137 closed

[2020-04-30 00:25] richardarsenault commented on #159
@julemai @huard is this any easier to implement now with the updates to ostrich and raven?

[2020-04-30 00:32] richardarsenault commented on #243
@huard @Zeitsperre Can we do this now, or do we need to wait for @dustming's documented codes? Is that all part of the same package?

[2020-04-30 00:35] #36 closed

[2020-04-30 00:37] #90 closed

[2020-04-30 00:37] #83 closed

[2020-04-30 00:37] richardarsenault commented on #190
Is this related to the Xskillscore and other metrics we have in the other WPS processes planned?

[2020-04-30 00:38] richardarsenault commented on #189
I suggest we close this as we have specific WPS setups doing this now

[2020-04-30 00:39] huard commented on #247
It is. I think we could flesh out in the description of this issue what exactly we are trying to achieve, and then discuss how to move this forward.

[2020-04-30 00:40] huard commented on #190
Yes, let's close this one.

[2020-04-30 00:40] #190 closed

[2020-04-30 00:42] huard commented on #261
Ok. Will investigate a bit more on my end before that.

[2020-04-30 01:05] huard commented on #261
Ok, my mistake, I thought I needed to start the simulation one day after the end of the last one, but it should be the same day (start of second = end of first). In this case errors are < 1E-5, which is consistent with the number of digits in the rvc file.

[2020-04-30 01:11] julemai commented on #261
That’s great news!! You think that this precision is enough for our purpose?

[2020-04-30 01:36] richardarsenault commented on #261
Yes I think so, i mean forecasts are full of uncertainty anyways. If we ever update raven for more digits or its not too much to ask of James then great, we should do it, but I would live well with that degree of precision. Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Julie <notifications@github.com> Date: 2020-04-29  21:11  (GMT-05:00) To: Ouranosinc/raven <rave

[2020-04-30 01:37] huard commented on #261
I would think so, yes.

At the moment, these are the number of state variables within current rvc files:
- HMETS: 2
- GR4J: 2
- HBC-EC: 1
- MOHYSE: 0

But, in reality there are dozens of state variables (convolutions, snow temp, snow cover, etc) that are not exposed. I suppose we should template all state variables that end up in the WatershedStorage output ?

[2020-04-30 01:41] richardarsenault commented on #261
Yes ideally for it to work well we'd need to have the exact same states carried over. Is that not all in the storage rv file? Like Mohyse I know has at least three state variables. If we go with the file with 0 states... How would that even work? Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: David Huard <notifications@github.com> Date: 2020-04-29  21:38  (GMT-05:0